.version.ambassad_ren /* version checker */
{
	color: #000004;
	background-color: #08EF22;
}

#page
{
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	border-width: 0px;
	margin-left: auto;
	width: 100%;
	z-index: 1;
	background-color: transparent;
}

#pu14302-4
{
	margin-left: 20px;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u14302-4
{
	position: relative;
	z-index: 69;
	min-height: 35px;
}

#pu14103
{
	width: 0.01px;
}

#u14103
{
	margin-right: -10000px;
	position: relative;
	width: 99px;
	z-index: 2;
	min-height: 80px;
}

#u114-65
{
	width: 187px;
	z-index: 3;
	margin-right: -10000px;
	position: relative;
}

#u2439
{
	margin-right: -10000px;
	position: relative;
	width: 35px;
	z-index: 68;
	min-height: 35px;
}

#slideshowu8781
{
	left: 227px;
	margin-top: 116px;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
	z-index: 79;
}

#u8784popup
{
	z-index: 80;
}

#u13634
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 81;
	background-color: transparent;
}

#u13827
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 83;
	background-color: transparent;
}

#u13869
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 85;
	background-color: transparent;
}

#u13911
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 87;
	background-color: transparent;
}

#u13953
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 89;
	background-color: transparent;
}

#u13995
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 91;
	background-color: transparent;
}

#u14037
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 93;
	background-color: transparent;
}

#u8784,#u8795
{
	background-color: transparent;
	position: absolute;
}

#u8795popup
{
	z-index: 95;
}

#u13658-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 96;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u13851-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 104;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u13893-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 112;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u13935-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 120;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u13977-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 128;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u14019-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 136;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u14061-8
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 144;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8782-4
{
	line-height: 20px;
	background-color: #FFFFFF;
	position: absolute;
	border-width: 0px;
	min-height: 20px;
	padding: 10px;
	border-color: transparent;
	text-align: center;
	width: 48px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8782-4popup
{
	z-index: 152;
}

#u8815-4
{
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	opacity: 0;
	border-width: 0px;
	filter: alpha(opacity=0);
	padding: 10px;
	border-color: transparent;
	text-align: center;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
}

#u8815-4popup
{
	z-index: 156;
}

#u8782,#u8815
{
	color: #999999;
}

#u8816-4
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	opacity: 0;
	border-width: 0px;
	filter: alpha(opacity=0);
	padding: 10px;
	border-color: transparent;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	text-align: center;
}

#u8816-4popup
{
	z-index: 160;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16340
{
	margin-right: -10000px;
	position: relative;
	z-index: 77;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	z-index: 73;
	right: 55px;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	z-index: 75;
	right: 20px;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-4
	{
		margin-top: 72px;
	}

	#u14302-4
	{
		width: 396px;
	}

	#pu14103
	{
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 358px;
	}

	#u114-65
	{
		min-height: 358px;
	}

	#u2439
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#slideshowu8781
	{
		height: 851px;
	}

	#u13634_img,#u13827_img
	{
		padding: 14px 15px 15px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 1053px;
		height: 711px;
	}

	#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u8795
	{
		width: 985px;
		top: 711px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 965px;
		min-height: 120px;
	}

	#u8782-4
	{
		top: 711px;
		left: 985px;
	}

	#u8815-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8816-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		padding-bottom: 41px;
		max-width: 1294px;
	}

	#pu14302-4
	{
		margin-top: 65px;
	}

	#u14302-4
	{
		width: 381px;
	}

	#u14103
	{
		margin-top: 344px;
	}

	#u114-65
	{
		min-height: 401px;
	}

	#u2439
	{
		margin-top: 416px;
		left: 2.01%;
	}

	#slideshowu8781
	{
		height: 661px;
	}

	#u13634_img,#u13827_img
	{
		margin-left: -5px;
		margin-right: -4px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 772px;
		height: 521px;
	}

	#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u8795
	{
		width: 704px;
		top: 521px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 684px;
		min-height: 120px;
	}

	#u8782-4
	{
		top: 521px;
		left: 704px;
	}

	#u8815-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u8816-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-4
	{
		margin-top: 65px;
	}

	#u14302-4
	{
		width: 294px;
	}

	#u14103
	{
		margin-top: 394px;
	}

	#u114-65
	{
		min-height: 403px;
	}

	#u2439
	{
		margin-top: 496px;
		left: 2%;
	}

	#slideshowu8781
	{
		height: 751px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 573px;
		height: 387px;
	}

	#u13634_img,#u13827_img,#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u8795
	{
		width: 450px;
		top: 387px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 430px;
		min-height: 344px;
	}

	#u8782-4
	{
		top: 387px;
		left: 505px;
	}

	#u8815-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u8816-4
	{
		width: 270px;
		min-height: 367px;
		left: 283px;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

