.version.ambassad_ren /* version checker */
{
	color: #00001B;
	background-color: #940863;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	background-color: transparent;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	background-image: none;
	z-index: 1;
}

#pu14302-5
{
	margin-left: 20px;
	width: 0.01px;
	margin-right: -10000px;
}

#u14302-5
{
	position: relative;
	z-index: 77;
}

#pu114-73
{
	width: 0.01px;
}

#u114-73
{
	width: 187px;
	margin-right: -10000px;
	z-index: 3;
	position: relative;
}

#slideshowu8781
{
	left: 207px;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
	z-index: 84;
}

#u8784popup
{
	z-index: 85;
}

#u13634
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 86;
}

#u13827
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 88;
}

#u13869
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 90;
}

#u13911
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 92;
}

#u13953
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 94;
}

#u13995
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 96;
}

#u14037
{
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	border-width: 0px;
	position: relative;
	z-index: 98;
}

#u8784,#u8795
{
	background-color: transparent;
	position: absolute;
}

#u8795popup
{
	z-index: 100;
}

#u13658-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 101;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u13851-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 109;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u13893-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 117;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u13935-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 125;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u13977-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 133;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u14019-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 141;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u14061-8
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	color: #999999;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	z-index: 149;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u8782-4
{
	border-color: transparent;
	position: absolute;
	min-height: 20px;
	background-color: #FFFFFF;
	padding: 10px;
	border-width: 0px;
	line-height: 20px;
	width: 48px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: center;
}

#u8782-4popup
{
	z-index: 157;
}

#u8815-4
{
	border-color: transparent;
	position: absolute;
	background-color: transparent;
	filter: alpha(opacity=0);
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-width: 0px;
	line-height: 20px;
	opacity: 0;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: center;
}

#u8815-4popup
{
	z-index: 161;
}

#u8782,#u8815
{
	color: #999999;
}

#u8816-4
{
	border-color: transparent;
	position: absolute;
	color: #999999;
	background-color: transparent;
	filter: alpha(opacity=0);
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-width: 0px;
	line-height: 20px;
	opacity: 0;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: center;
}

#u8816-4popup
{
	z-index: 165;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19225-4
{
	bottom: 22px;
	left: 50%;
	position: fixed;
	z-index: 169;
}

#u14103
{
	margin-right: -10000px;
	position: relative;
	min-height: 80px;
	width: 99px;
	margin-top: 20px;
	z-index: 2;
}

#u2439
{
	margin-right: -10000px;
	position: relative;
	min-height: 35px;
	width: 35px;
	z-index: 76;
}

#u16340
{
	margin-right: -10000px;
	position: relative;
	z-index: 82;
}

#u14502
{
	z-index: 173;
	bottom: 20px;
	width: 25px;
	right: 55px;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	z-index: 175;
	bottom: 20px;
	width: 25px;
	right: 20px;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		padding-bottom: 0px;
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: 8px;
	}

	#u114-73
	{
		min-height: 358px;
	}

	#slideshowu8781
	{
		height: 851px;
	}

	#u13634_img,#u13827_img
	{
		padding: 14px 15px 15px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 1053px;
		height: 711px;
	}

	#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u8795
	{
		width: 985px;
		top: 711px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 965px;
		min-height: 120px;
	}

	#u8782-4
	{
		top: 711px;
		left: 985px;
	}

	#u8815-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8816-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		padding-bottom: 41px;
		max-width: 1294px;
	}

	#pu14302-5
	{
		margin-top: 65px;
	}

	#u14302-5
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: -1px;
	}

	#u114-73
	{
		min-height: 401px;
	}

	#slideshowu8781
	{
		height: 661px;
		margin-top: 16px;
	}

	#u13634_img,#u13827_img
	{
		margin-left: -5px;
		margin-right: -4px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 772px;
		height: 521px;
	}

	#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u8795
	{
		width: 704px;
		top: 521px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 684px;
		min-height: 120px;
	}

	#u8782-4
	{
		top: 521px;
		left: 704px;
	}

	#u8815-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u8816-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u19225-4
	{
		width: 773px;
		min-height: 11px;
		margin-left: -420px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 772px;
		padding-bottom: 48px;
		max-width: 1000px;
	}

	#pu14302-5
	{
		margin-top: 50px;
	}

	#u14302-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-73
	{
		min-height: 403px;
	}

	#slideshowu8781
	{
		height: 656px;
		margin-top: 16px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 573px;
		height: 387px;
	}

	#u13634_img,#u13827_img,#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u8795
	{
		width: 450px;
		top: 387px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 430px;
		min-height: 249px;
	}

	#u8782-4
	{
		top: 387px;
		left: 505px;
	}

	#u8815-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u8816-4
	{
		width: 270px;
		min-height: 367px;
		left: 283px;
	}

	#u19225-4
	{
		width: 573px;
		min-height: 13px;
		margin-left: -273px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

