.version.arkitektstudentens_hjem /* version checker */
{
	color: #0000FD;
	background-color: #0A60F1;
}

#page
{
	background-color: transparent;
	margin-right: auto;
	border-width: 0px;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	background-image: none;
}

#pu14302-5
{
	margin-left: 20px;
	width: 0.01px;
	margin-right: -10000px;
}

#u14302-5
{
	position: relative;
	z-index: 89;
}

#pu114-85
{
	width: 0.01px;
}

#u114-85
{
	width: 187px;
	z-index: 3;
	margin-right: -10000px;
	position: relative;
}

#slideshowu17653
{
	left: 207px;
	position: relative;
	width: 0.01px;
	z-index: 96;
	margin-right: -10000px;
}

#u17658popup
{
	z-index: 97;
}

#u18893
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 98;
	border-width: 0px;
	background-color: transparent;
}

#u21661
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 100;
	border-width: 0px;
	background-color: transparent;
}

#u21703
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 102;
	border-width: 0px;
	background-color: transparent;
}

#u21745
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 104;
	border-width: 0px;
	background-color: transparent;
}

#u21787
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 106;
	border-width: 0px;
	background-color: transparent;
}

#u21829
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 108;
	border-width: 0px;
	background-color: transparent;
}

#u21871
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 110;
	border-width: 0px;
	background-color: transparent;
}

#u21913
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 112;
	border-width: 0px;
	background-color: transparent;
}

#u21955
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 114;
	border-width: 0px;
	background-color: transparent;
}

#u21997
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 116;
	border-width: 0px;
	background-color: transparent;
}

#u22039
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 118;
	border-width: 0px;
	background-color: transparent;
}

#u22081
{
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 120;
	border-width: 0px;
	background-color: transparent;
}

#u17658,#u17655
{
	background-color: transparent;
	position: absolute;
}

#u17655popup
{
	z-index: 122;
}

#u18917-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 123;
}

#u21685-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 129;
}

#u21727-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 135;
}

#u21769-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 141;
}

#u21811-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 147;
}

#u21853-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 153;
}

#u21895-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 159;
}

#u21937-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 165;
}

#u21979-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 171;
}

#u22021-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 177;
}

#u22063-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 183;
}

#u22105-6
{
	line-height: 20px;
	color: #999999;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: left;
	background-color: #FFFFFF;
	position: relative;
	z-index: 189;
}

#u18917-2,#u21685-2,#u21727-2,#u21769-2,#u21811-2,#u21853-2,#u21895-2,#u21937-2,#u21979-2,#u22021-2,#u22063-2,#u22105-2
{
	font-style: italic;
}

#u17665-4
{
	line-height: 20px;
	color: #999999;
	border-color: transparent;
	min-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 0px;
	padding: 10px;
	text-align: center;
	background-color: #FFFFFF;
	position: absolute;
	width: 48px;
}

#u17665-4popup
{
	z-index: 195;
}

#u17657-4
{
	line-height: 20px;
	border-color: transparent;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	border-width: 0px;
	padding: 10px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u17657-4popup
{
	z-index: 199;
}

#u17657
{
	color: #999999;
}

#u17666-4
{
	line-height: 20px;
	color: #999999;
	border-color: transparent;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	border-width: 0px;
	padding: 10px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u17666-4popup
{
	z-index: 203;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19225-4
{
	bottom: 22px;
	left: 50%;
	position: fixed;
	z-index: 207;
}

#u14103
{
	position: relative;
	min-height: 80px;
	width: 99px;
	margin-top: 20px;
	z-index: 2;
	margin-right: -10000px;
}

#u2439
{
	position: relative;
	min-height: 35px;
	width: 35px;
	z-index: 88;
	margin-right: -10000px;
}

#u16340
{
	margin-right: -10000px;
	z-index: 94;
	position: relative;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 211;
	position: fixed;
}

#u14502_img
{
	margin-right: -1px;
	margin-left: 1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 213;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-85
	{
		margin-top: 8px;
	}

	#u114-85
	{
		min-height: 358px;
	}

	#slideshowu17653
	{
		height: 806px;
	}

	#u17658,#u18893,#u21661,#u21703,#u21745,#u21787,#u21829,#u21871,#u21913,#u21955,#u21997,#u22039,#u22081
	{
		width: 1053px;
		height: 711px;
	}

	#u18893_img,#u21661_img,#u21703_img,#u21745_img,#u21787_img,#u21829_img,#u21871_img,#u21913_img,#u21955_img,#u21997_img,#u22039_img,#u22081_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u17655
	{
		width: 985px;
		top: 711px;
	}

	#u18917-6,#u21685-6,#u21727-6,#u21769-6,#u21811-6,#u21853-6,#u21895-6,#u21937-6,#u21979-6,#u22021-6,#u22063-6,#u22105-6
	{
		width: 965px;
		min-height: 75px;
	}

	#u17665-4
	{
		top: 711px;
		left: 985px;
	}

	#u17657-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u17666-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-5
	{
		margin-top: 65px;
	}

	#u14302-5
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-85
	{
		margin-top: -1px;
	}

	#u114-85
	{
		min-height: 401px;
	}

	#slideshowu17653
	{
		height: 650px;
		margin-top: 16px;
	}

	#u17658,#u18893,#u21661,#u21703,#u21745,#u21787,#u21829,#u21871,#u21913,#u21955,#u21997,#u22039,#u22081
	{
		width: 772px;
		height: 521px;
	}

	#u17655
	{
		width: 704px;
		top: 521px;
	}

	#u18917-6,#u21685-6,#u21727-6,#u21769-6,#u21811-6,#u21853-6,#u21895-6,#u21937-6,#u21979-6,#u22021-6,#u22063-6,#u22105-6
	{
		width: 684px;
		min-height: 109px;
	}

	#u17665-4
	{
		top: 521px;
		left: 704px;
	}

	#u17657-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u17666-4
	{
		width: 414px;
		min-height: 501px;
		left: 386px;
	}

	#u19225-4
	{
		width: 773px;
		min-height: 11px;
		margin-left: -420px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-5
	{
		margin-top: 50px;
	}

	#u14302-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-85
	{
		min-height: 403px;
	}

	#slideshowu17653
	{
		height: 751px;
		margin-top: 16px;
	}

	#u17658,#u18893,#u21661,#u21703,#u21745,#u21787,#u21829,#u21871,#u21913,#u21955,#u21997,#u22039,#u22081
	{
		width: 573px;
		height: 387px;
	}

	#u17655
	{
		width: 450px;
		top: 387px;
	}

	#u18917-6,#u21685-6,#u21727-6,#u21769-6,#u21811-6,#u21853-6,#u21895-6,#u21937-6,#u21979-6,#u22021-6,#u22063-6,#u22105-6
	{
		width: 430px;
		min-height: 344px;
	}

	#u17665-4
	{
		top: 387px;
		left: 505px;
	}

	#u17657-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u17666-4
	{
		width: 306px;
		min-height: 367px;
		left: 286px;
	}

	#u19225-4
	{
		width: 573px;
		min-height: 13px;
		margin-left: -273px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

