.version.br_drene_karamasov /* version checker */
{
	color: #00001D;
	background-color: #BD40E9;
}

#page
{
	border-width: 0px;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	margin-right: auto;
}

#pu14302-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-right: -10000px;
}

#u14302-5
{
	z-index: 93;
	position: relative;
}

#pu114-89
{
	width: 0.01px;
}

#u114-89
{
	width: 187px;
	z-index: 3;
	margin-right: -10000px;
	position: relative;
}

#slideshowu19922
{
	left: 207px;
	z-index: 100;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
}

#u19934popup
{
	z-index: 101;
}

#u19935
{
	border-width: 0px;
	z-index: 102;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20340
{
	border-width: 0px;
	z-index: 104;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20382
{
	border-width: 0px;
	z-index: 106;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20424
{
	border-width: 0px;
	z-index: 108;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20466
{
	border-width: 0px;
	z-index: 110;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20508
{
	border-width: 0px;
	z-index: 112;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20550
{
	border-width: 0px;
	z-index: 114;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20592
{
	border-width: 0px;
	z-index: 116;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20634
{
	border-width: 0px;
	z-index: 118;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20676
{
	border-width: 0px;
	z-index: 120;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20718
{
	border-width: 0px;
	z-index: 122;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u19934,#u19923
{
	background-color: transparent;
	position: absolute;
}

#u19923popup
{
	z-index: 124;
}

#u19924-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 125;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20364-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 129;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20406-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 133;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20448-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 137;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20490-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 141;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20532-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 145;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20574-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 149;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20616-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 153;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20658-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 157;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20700-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 161;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20742-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 165;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u19929-4
{
	border-width: 0px;
	text-align: center;
	background-color: #FFFFFF;
	position: absolute;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	width: 48px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u19929-4popup
{
	z-index: 169;
}

#u19925-4
{
	border-width: 0px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u19925-4popup
{
	z-index: 173;
}

#u19929,#u19925
{
	color: #999999;
}

#u19933-4
{
	border-width: 0px;
	color: #999999;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u19933-4popup
{
	z-index: 177;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19225-4
{
	bottom: 22px;
	left: 50%;
	z-index: 181;
	position: fixed;
}

#u14103
{
	z-index: 2;
	margin-right: -10000px;
	position: relative;
	min-height: 80px;
	width: 99px;
	margin-top: 20px;
}

#u2439
{
	z-index: 92;
	margin-right: -10000px;
	position: relative;
	min-height: 35px;
	width: 35px;
}

#u16340
{
	z-index: 98;
	margin-right: -10000px;
	position: relative;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 185;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 187;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: 8px;
	}

	#u114-89
	{
		min-height: 358px;
	}

	#slideshowu19922
	{
		height: 806px;
	}

	#u19934,#u19935,#u20340,#u20382,#u20424,#u20466,#u20508,#u20550,#u20592,#u20634,#u20676,#u20718
	{
		width: 1053px;
		height: 711px;
	}

	#u19935_img,#u20340_img,#u20382_img,#u20424_img,#u20466_img,#u20508_img,#u20550_img,#u20592_img,#u20634_img,#u20676_img,#u20718_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u19923
	{
		width: 985px;
		top: 711px;
	}

	#u19924-4,#u20364-4,#u20406-4,#u20448-4,#u20490-4,#u20532-4,#u20574-4,#u20616-4,#u20658-4,#u20700-4,#u20742-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u19929-4
	{
		top: 711px;
		left: 985px;
	}

	#u19925-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u19933-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-5
	{
		margin-top: 65px;
	}

	#u14302-5
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: -1px;
	}

	#u114-89
	{
		min-height: 401px;
	}

	#slideshowu19922
	{
		height: 650px;
		margin-top: 16px;
	}

	#u19934,#u19935,#u20340,#u20382,#u20424,#u20466,#u20508,#u20550,#u20592,#u20634,#u20676,#u20718
	{
		width: 772px;
		height: 521px;
	}

	#u19935_img,#u20340_img,#u20382_img,#u20424_img,#u20466_img,#u20508_img,#u20550_img,#u20592_img,#u20634_img,#u20676_img,#u20718_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u19923
	{
		width: 704px;
		top: 521px;
	}

	#u19924-4,#u20364-4,#u20406-4,#u20448-4,#u20490-4,#u20532-4,#u20574-4,#u20616-4,#u20658-4,#u20700-4,#u20742-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u19929-4
	{
		top: 521px;
		left: 704px;
	}

	#u19925-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u19933-4
	{
		width: 414px;
		min-height: 501px;
		left: 386px;
	}

	#u19225-4
	{
		width: 773px;
		min-height: 11px;
		margin-left: -420px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-5
	{
		margin-top: 50px;
	}

	#u14302-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-89
	{
		min-height: 403px;
	}

	#slideshowu19922
	{
		height: 751px;
		margin-top: 16px;
	}

	#u19934,#u19935,#u20340,#u20382,#u20424,#u20466,#u20508,#u20550,#u20592,#u20634,#u20676,#u20718
	{
		width: 573px;
		height: 387px;
	}

	#u19935_img,#u20340_img,#u20382_img,#u20424_img,#u20466_img,#u20508_img,#u20550_img,#u20592_img,#u20634_img,#u20676_img,#u20718_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u19923
	{
		width: 450px;
		top: 387px;
	}

	#u19924-4,#u20364-4,#u20406-4,#u20448-4,#u20490-4,#u20532-4,#u20574-4,#u20616-4,#u20658-4,#u20700-4,#u20742-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u19929-4
	{
		top: 387px;
		left: 505px;
	}

	#u19925-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u19933-4
	{
		width: 306px;
		min-height: 367px;
		left: 286px;
	}

	#u19225-4
	{
		width: 573px;
		min-height: 13px;
		margin-left: -273px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

