.version.contact /* version checker */
{
	color: #000007;
	background-color: #A52783;
}

#page
{
	z-index: 1;
	background-color: transparent;
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	width: 100%;
	margin-left: auto;
	border-color: #000000;
}

#u4651
{
	z-index: 72;
	position: relative;
	width: 113px;
	margin-right: -10000px;
}

#u114-69
{
	left: 20px;
	z-index: 2;
	position: relative;
	width: 187px;
	margin-right: -10000px;
	margin-top: 100px;
}

#u2439
{
	z-index: 71;
	position: relative;
	min-height: 35px;
	width: 35px;
	margin-right: -10000px;
}

#u4809-4
{
	background-color: transparent;
	position: relative;
	z-index: 74;
}

#widgetu4812
{
	z-index: 78;
	position: relative;
	width: 0.01px;
	height: 266px;
}

#widgetu4823
{
	left: -1px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 342px;
	z-index: 79;
	border-color: transparent;
	height: 47px;
}

#widgetu4823.fld-err-st
{
	background-color: transparent;
	min-height: 0px;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	margin: 0px -10000px 0px 0px;
}

#u4824-4
{
	color: #6B6B6B;
	line-height: 14px;
	position: relative;
	border-width: 0px;
	z-index: 80;
	border-color: transparent;
	left: 1px;
	margin-right: -10000px;
	min-height: 20px;
	width: 200px;
	text-align: left;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4825-4
{
	color: #C4C4C4;
	line-height: 14px;
	margin-right: -10000px;
	position: relative;
	border-width: 1px;
	z-index: 84;
	border-color: #C4C4C4;
	padding: 6px;
	font-style: italic;
	background-color: #F2F2F2;
	min-height: 14px;
	margin-top: 19px;
	width: 328px;
	border-style: solid;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu4815
{
	left: -1px;
	margin-top: 60px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 342px;
	z-index: 88;
	border-color: transparent;
	height: 47px;
}

#widgetu4815.fld-err-st
{
	background-color: transparent;
	min-height: 0px;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	margin: 60px -10000px 0px 0px;
}

#u4818-4
{
	color: #6B6B6B;
	line-height: 14px;
	position: relative;
	border-width: 0px;
	z-index: 89;
	border-color: transparent;
	left: 1px;
	margin-right: -10000px;
	min-height: 20px;
	width: 200px;
	text-align: left;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu4815.fld-err-st #u4818-4
{
	padding-top: 0px;
	min-height: 20px;
	width: 200px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4816-4
{
	color: #C4C4C4;
	line-height: 14px;
	margin-right: -10000px;
	position: relative;
	border-width: 1px;
	z-index: 93;
	border-color: #C4C4C4;
	padding: 6px;
	font-style: italic;
	background-color: #F2F2F2;
	min-height: 14px;
	margin-top: 19px;
	width: 328px;
	border-style: solid;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu4823:hover #u4825-4,#widgetu4823.focus-st #u4825-4,#widgetu4815:hover #u4816-4,#widgetu4815.focus-st #u4816-4
{
	padding-top: 6px;
	background-color: #FFFFFF;
	min-height: 14px;
	width: 328px;
	border-color: #6B6B6B;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4823.fld-err-st #u4825-4,#widgetu4815.fld-err-st #u4816-4
{
	padding-top: 6px;
	background-color: #FFFFFF;
	min-height: 14px;
	width: 328px;
	border-color: #D7244C;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4823_input,#widgetu4823_prompt,#widgetu4815_input,#widgetu4815_prompt
{
	color: #C4C4C4;
	min-height: 14px;
	font-style: italic;
	width: 328px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 6px;
}

#u4814-4
{
	min-height: 21px;
	left: 140px;
	padding-top: 4px;
	line-height: 14px;
	margin-top: 240px;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 97;
	position: relative;
	background-color: transparent;
	font-size: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 200px;
	margin-right: -10000px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu4812.frm-sub-st #u4814-4 p
{
	color: #999999;
	font-style: italic;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4827-4
{
	min-height: 21px;
	color: #FF0000;
	padding-top: 4px;
	font-size: 12px;
	margin-top: 240px;
	opacity: 0;
	left: 140px;
	filter: alpha(opacity=0);
	z-index: 101;
	position: relative;
	background-color: transparent;
	line-height: 14px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 200px;
	margin-right: -10000px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu4812.frm-subm-err-st #u4827-4 p
{
	color: #D7244C;
	font-style: italic;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4813-4
{
	min-height: 21px;
	color: #00FF00;
	padding-top: 4px;
	font-size: 12px;
	margin-top: 240px;
	opacity: 0;
	left: 140px;
	filter: alpha(opacity=0);
	z-index: 105;
	position: relative;
	background-color: transparent;
	line-height: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 200px;
	margin-right: -10000px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu4812.frm-sub-st #u4814-4,#widgetu4812.frm-subm-err-st #u4827-4,#widgetu4812.frm-subm-ok-st #u4813-4
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 25px;
	filter: alpha(opacity=100);
	opacity: 1;
}

#widgetu4812.frm-subm-ok-st #u4813-4 p
{
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u4828-17
{
	min-height: 31px;
	margin-bottom: -1px;
	z-index: 109;
	background-color: transparent;
	position: relative;
	background-repeat: no-repeat;
	width: 131px;
	background-position: 0px 0px;
	margin-right: -10000px;
	margin-top: 235px;
}

#u4828-17:hover,#u4828-17:active,#widgetu4812.frm-sub-st #u4828-17
{
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: transparent;
}

.hidpi #u4828-17,.hidpi #u4828-17:hover,.hidpi #u4828-17:active,.hidpi #widgetu4812.frm-sub-st #u4828-17
{
	background-size: 131px 31px;
}

#widgetu4819
{
	left: -1px;
	margin-top: 120px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 342px;
	z-index: 126;
	border-color: transparent;
	height: 101px;
}

#widgetu4819.fld-err-st
{
	background-color: transparent;
	min-height: 0px;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	margin: 120px -10000px 0px 0px;
}

#u4820-4
{
	color: #6B6B6B;
	line-height: 14px;
	position: relative;
	border-width: 0px;
	z-index: 127;
	border-color: transparent;
	left: 1px;
	margin-right: -10000px;
	min-height: 20px;
	width: 200px;
	text-align: left;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu4823.fld-err-st #u4824-4,#widgetu4819.fld-err-st #u4820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	border-width: 0px;
	width: 200px;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#widgetu4823.fld-err-st #u4824-4 p,#widgetu4823.fld-err-st #u4824-4 span,#widgetu4815.fld-err-st #u4818-4 p,#widgetu4815.fld-err-st #u4818-4 span,#widgetu4819.fld-err-st #u4820-4 p,#widgetu4819.fld-err-st #u4820-4 span
{
	color: #D7244C;
}

#u4821-4
{
	color: #C4C4C4;
	line-height: 14px;
	margin-right: -10000px;
	position: relative;
	border-width: 1px;
	z-index: 131;
	border-color: #C4C4C4;
	padding: 6px;
	font-style: italic;
	background-color: #F2F2F2;
	min-height: 68px;
	margin-top: 19px;
	width: 328px;
	border-style: solid;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu4819:hover #u4821-4,#widgetu4819.focus-st #u4821-4
{
	padding-top: 6px;
	background-color: #FFFFFF;
	min-height: 68px;
	width: 328px;
	border-color: #6B6B6B;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4823.non-empty-st #u4825-4 *,#widgetu4823:hover #u4825-4 *,#widgetu4823.focus-st #u4825-4 *,#widgetu4815.non-empty-st #u4816-4 *,#widgetu4815:hover #u4816-4 *,#widgetu4815.focus-st #u4816-4 *,#widgetu4819.non-empty-st #u4821-4 *,#widgetu4819:hover #u4821-4 *,#widgetu4819.focus-st #u4821-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu4819.fld-err-st #u4821-4
{
	padding-top: 6px;
	background-color: #FFFFFF;
	min-height: 68px;
	width: 328px;
	border-color: #D7244C;
	padding-bottom: 6px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4823.fld-err-st #u4825-4 *,#widgetu4815.fld-err-st #u4816-4 *,#widgetu4819.fld-err-st #u4821-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu4819_input,#widgetu4819_prompt
{
	color: #C4C4C4;
	min-height: 68px;
	font-style: italic;
	width: 328px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 6px;
}

#widgetu4823.focus-st #widgetu4823_prompt,#widgetu4815.focus-st #widgetu4815_prompt,#widgetu4819.focus-st #widgetu4819_prompt
{
	padding-top: 6px;
	visibility: hidden;
	padding-bottom: 6px;
}

#widgetu4823:hover #widgetu4823_input,#widgetu4823.focus-st #widgetu4823_input,#widgetu4823.fld-err-st #widgetu4823_input,#widgetu4823:hover #widgetu4823_prompt,#widgetu4823.fld-err-st #widgetu4823_prompt,#widgetu4815:hover #widgetu4815_input,#widgetu4815.focus-st #widgetu4815_input,#widgetu4815.fld-err-st #widgetu4815_input,#widgetu4815:hover #widgetu4815_prompt,#widgetu4815.fld-err-st #widgetu4815_prompt,#widgetu4819:hover #widgetu4819_input,#widgetu4819.focus-st #widgetu4819_input,#widgetu4819.fld-err-st #widgetu4819_input,#widgetu4819:hover #widgetu4819_prompt,#widgetu4819.fld-err-st #widgetu4819_prompt
{
	padding-bottom: 6px;
	padding-top: 6px;
}

#widgetu4823.non-empty-st #widgetu4823_prompt,#widgetu4815.non-empty-st #widgetu4815_prompt,#widgetu4819.non-empty-st #widgetu4819_prompt
{
	visibility: hidden;
}

#widgetu4823.non-empty-st #u4825-4,#widgetu4815.non-empty-st #u4816-4,#widgetu4819.non-empty-st #u4821-4,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 713px;
		padding-bottom: 209px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-69
	{
		min-height: 404px;
	}

	#u4809-4
	{
		min-height: 613px;
		margin-right: -10000px;
		margin-top: 100px;
		left: 227px;
		width: 32.35%;
	}

	#widgetu4812
	{
		margin-right: -10000px;
		margin-top: 123px;
		margin-left: 100%;
		left: -487px;
	}

	#u4828-17
	{
		background-image: url("../images/u4828-17.png");
	}

	#u4828-17:hover
	{
		background-image: url("../images/u4828-17-r.png");
	}

	#u4828-17:active
	{
		background-image: url("../images/u4828-17-m.png");
	}

	#widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs.png");
	}

	.hidpi #u4828-17
	{
		background-image: url("../images/u4828-17_2x.png");
	}

	.hidpi #u4828-17:hover
	{
		background-image: url("../images/u4828-17-r_2x.png");
	}

	.hidpi #u4828-17:active
	{
		background-image: url("../images/u4828-17-m_2x.png");
	}

	.hidpi #widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs_2x.png");
	}

}

@media (min-width: 1076px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 713px;
		padding-bottom: 288px;
		max-width: 1294px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.47%;
	}

	#u114-69
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.55%;
	}

	#u4809-4
	{
		min-height: 613px;
		margin-right: -10000px;
		margin-top: 100px;
		left: 227px;
		width: 32.39%;
	}

	#widgetu4812
	{
		margin-right: -10000px;
		margin-top: 123px;
		margin-left: 100%;
		left: -487px;
	}

	#u4828-17
	{
		background-image: url("../images/u4828-172.png");
	}

	#u4828-17:hover
	{
		background-image: url("../images/u4828-17-r2.png");
	}

	#u4828-17:active
	{
		background-image: url("../images/u4828-17-m2.png");
	}

	#widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs2.png");
	}

	.hidpi #u4828-17
	{
		background-image: url("../images/u4828-17_2x2.png");
	}

	.hidpi #u4828-17:hover
	{
		background-image: url("../images/u4828-17-r_2x2.png");
	}

	.hidpi #u4828-17:active
	{
		background-image: url("../images/u4828-17-m_2x2.png");
	}

	.hidpi #widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs_2x2.png");
	}

}

@media (min-width: 1001px) and (max-width: 1075px)
{
	#muse_css_mq
	{
		background-color: #000433;
	}

	#bp_1075.active
	{
		display: block;
	}

	#page
	{
		min-height: 672px;
		padding-bottom: 329px;
		max-width: 1075px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.49%;
	}

	#u114-69
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.59%;
	}

	#pu4809-4
	{
		margin-right: -10000px;
		margin-top: 100px;
		margin-left: 227px;
		width: 72.1%;
	}

	#u4809-4
	{
		min-height: 284px;
		width: 100%;
	}

	#widgetu4812
	{
		margin-top: 22px;
	}

	#u4828-17
	{
		background-image: url("../images/u4828-173.png");
	}

	#u4828-17:hover
	{
		background-image: url("../images/u4828-17-r3.png");
	}

	#u4828-17:active
	{
		background-image: url("../images/u4828-17-m3.png");
	}

	#widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs3.png");
	}

	.hidpi #u4828-17
	{
		background-image: url("../images/u4828-17_2x3.png");
	}

	.hidpi #u4828-17:hover
	{
		background-image: url("../images/u4828-17-r_2x3.png");
	}

	.hidpi #u4828-17:active
	{
		background-image: url("../images/u4828-17-m_2x3.png");
	}

	.hidpi #widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs_2x3.png");
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 672px;
		padding-bottom: 329px;
		max-width: 1000px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.5%;
	}

	#u114-69
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 2%;
	}

	#pu4809-4
	{
		margin-right: -10000px;
		margin-top: 100px;
		margin-left: 227px;
		width: 72.1%;
	}

	#u4809-4
	{
		min-height: 284px;
		width: 100%;
	}

	#widgetu4812
	{
		margin-top: 22px;
	}

	#u4828-17
	{
		background-image: url("../images/u4828-174.png");
	}

	#u4828-17:hover
	{
		background-image: url("../images/u4828-17-r4.png");
	}

	#u4828-17:active
	{
		background-image: url("../images/u4828-17-m4.png");
	}

	#widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs4.png");
	}

	.hidpi #u4828-17
	{
		background-image: url("../images/u4828-17_2x4.png");
	}

	.hidpi #u4828-17:hover
	{
		background-image: url("../images/u4828-17-r_2x4.png");
	}

	.hidpi #u4828-17:active
	{
		background-image: url("../images/u4828-17-m_2x4.png");
	}

	.hidpi #widgetu4812.frm-sub-st #u4828-17
	{
		background-image: url("../images/u4828-17-fs_2x4.png");
	}

	body
	{
		min-width: 320px;
	}

}

