.version.contact /* version checker */
{
	color: #00000E;
	background-color: #FF012B;
}

#page
{
	width: 100%;
	background-image: none;
	margin-left: auto;
	margin-right: auto;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
}

#u4651
{
	position: relative;
	margin-right: -10000px;
	width: 113px;
	z-index: 70;
}

#u114-67
{
	left: 20px;
	position: relative;
	margin-right: -10000px;
	width: 187px;
	z-index: 2;
}

#u2439
{
	position: relative;
	margin-right: -10000px;
	width: 35px;
	z-index: 69;
	min-height: 35px;
}

#u13136-27
{
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	z-index: 72;
	min-height: 402px;
}

#u13136-10,#u13136-12,#u13136-16,#u13136-20,#u13136-24
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 653px;
		padding-bottom: 269px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#u13136-27
	{
		width: 458px;
		margin-left: 50%;
		left: -230px;
	}

	body
	{
		padding-top: 20px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 633px;
		padding-bottom: 368px;
		max-width: 1294px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.47%;
	}

	#u114-67
	{
		min-height: 533px;
		margin-top: 100px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.55%;
	}

	#u13136-27
	{
		width: 459px;
		margin-left: 50%;
		left: -230px;
	}

	body
	{
		padding-top: 10px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 681px;
		padding-bottom: 320px;
		max-width: 1000px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.5%;
	}

	#u114-67
	{
		min-height: 581px;
		margin-top: 100px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 2%;
	}

	#u13136-27
	{
		left: 269px;
		width: 46.1%;
	}

	body
	{
		min-width: 320px;
	}

}

