.version.det_er_bedre___kappe_det_av_enn___g__gjennom_livet /* version checker */
{
	color: #000006;
	background-color: #30577C;
}

#page
{
	background-color: transparent;
	background-image: none;
	border-width: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	border-color: #000000;
	width: 100%;
}

#pu14302-6
{
	margin-left: 20px;
	margin-right: -10000px;
	width: 0.01px;
}

#u14302-6
{
	z-index: 76;
	position: relative;
}

#pu114-72
{
	width: 0.01px;
}

#u114-72
{
	margin-right: -10000px;
	z-index: 3;
	width: 187px;
	position: relative;
}

#slideshowu9481
{
	left: 207px;
	position: relative;
	margin-right: -10000px;
	z-index: 88;
	width: 0.01px;
}

#u9484popup
{
	z-index: 89;
}

#u9497
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 90;
	position: relative;
}

#u9891
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 92;
	position: relative;
}

#u9933
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 94;
	position: relative;
}

#u9975
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 96;
	position: relative;
}

#u10017
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 98;
	position: relative;
}

#u10059
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 100;
	position: relative;
}

#u10101
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	z-index: 102;
	position: relative;
}

#u9484,#u9519
{
	background-color: transparent;
	position: absolute;
}

#u9519popup
{
	z-index: 104;
}

#u9525-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 105;
}

#u9915-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 109;
}

#u9957-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 113;
}

#u9999-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 117;
}

#u10041-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 121;
}

#u10083-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 125;
}

#u10125-4
{
	color: #999999;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: left;
	z-index: 129;
}

#u9500-4
{
	border-width: 0px;
	position: absolute;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	min-height: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	width: 48px;
}

#u9500-4popup
{
	z-index: 133;
}

#u9517-4
{
	opacity: 0;
	border-width: 0px;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 10px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
}

#u9517-4popup
{
	z-index: 137;
}

#u9500,#u9517
{
	color: #999999;
}

#u9516-4
{
	color: #999999;
	opacity: 0;
	border-width: 0px;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	padding: 10px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
}

#u9516-4popup
{
	z-index: 141;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14103
{
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	z-index: 2;
	width: 99px;
}

#u2439
{
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	z-index: 75;
	width: 35px;
}

#u16340
{
	position: relative;
	margin-right: -10000px;
	z-index: 86;
}

#u14502
{
	bottom: 20px;
	right: 55px;
	z-index: 82;
	width: 25px;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	right: 20px;
	z-index: 84;
	width: 25px;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-72
	{
		margin-top: 8px;
	}

	#u114-72
	{
		min-height: 358px;
	}

	#slideshowu9481
	{
		height: 771px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 1053px;
		height: 711px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u9519
	{
		width: 985px;
		top: 711px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 965px;
		min-height: 40px;
	}

	#u9500-4
	{
		top: 711px;
		left: 985px;
	}

	#u9517-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u9516-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-6
	{
		margin-top: 65px;
	}

	#u14302-6
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-72
	{
		margin-top: -1px;
	}

	#u114-72
	{
		min-height: 401px;
	}

	#slideshowu9481
	{
		height: 650px;
		margin-top: 16px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 772px;
		height: 521px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u9519
	{
		width: 704px;
		top: 521px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u9500-4
	{
		top: 521px;
		left: 704px;
	}

	#u9517-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u9516-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-6
	{
		margin-top: 50px;
	}

	#u14302-6
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-72
	{
		min-height: 403px;
	}

	#slideshowu9481
	{
		height: 751px;
		margin-top: 16px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 573px;
		height: 387px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u9519
	{
		width: 450px;
		top: 387px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u9500-4
	{
		top: 387px;
		left: 505px;
	}

	#u9517-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u9516-4
	{
		width: 270px;
		min-height: 367px;
		left: 283px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

