.version.det_er_bedre___kappe_det_av_enn___g__gjennom_livet /* version checker */
{
	color: #0000FE;
	background-color: #E9B335;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	background-image: none;
	border-color: #000000;
	width: 100%;
	border-width: 0px;
	z-index: 1;
}

#pu14302-6
{
	padding-bottom: 0px;
	margin-left: 20px;
	margin-right: -10000px;
	width: 0.01px;
}

#u14302-6
{
	min-height: 35px;
	z-index: 59;
	position: relative;
}

#u114-55
{
	z-index: 3;
	position: relative;
	width: 187px;
}

#u2439
{
	min-height: 35px;
	margin-right: -10000px;
	z-index: 58;
	position: relative;
	width: 35px;
}

#u14103
{
	min-height: 80px;
	z-index: 2;
	position: relative;
	width: 99px;
}

#slideshowu9481
{
	left: 227px;
	margin-right: -10000px;
	margin-top: 116px;
	z-index: 71;
	position: relative;
	width: 0.01px;
}

#u9484popup
{
	z-index: 72;
}

#u9497
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 73;
}

#u9891
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 75;
}

#u9933
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 77;
}

#u9975
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 79;
}

#u10017
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 81;
}

#u10059
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 83;
}

#u10101
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
	z-index: 85;
}

#u9484,#u9519
{
	background-color: transparent;
	position: absolute;
}

#u9519popup
{
	z-index: 87;
}

#u9525-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 88;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u9915-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 92;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u9957-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 96;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u9999-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 100;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u10041-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 104;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u10083-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 108;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u10125-4
{
	color: #999999;
	margin-right: -10000px;
	z-index: 112;
	position: relative;
	line-height: 20px;
	border-width: 0px;
	padding: 10px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: left;
}

#u9500-4
{
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	padding: 10px;
	min-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	border-color: transparent;
	text-align: center;
	width: 48px;
}

#u9500-4popup
{
	z-index: 116;
}

#u9517-4
{
	line-height: 20px;
	opacity: 0;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: absolute;
	filter: alpha(opacity=0);
	border-width: 0px;
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	border-color: transparent;
	text-align: center;
}

#u9517-4popup
{
	z-index: 120;
}

#u9500,#u9517
{
	color: #999999;
}

#u9516-4
{
	color: #999999;
	opacity: 0;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: absolute;
	line-height: 20px;
	filter: alpha(opacity=0);
	border-width: 0px;
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	border-color: transparent;
	text-align: center;
}

#u9516-4popup
{
	z-index: 124;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14504
{
	bottom: 20px;
	width: 25px;
	right: 90px;
	z-index: 67;
	position: fixed;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 65;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 69;
	position: fixed;
}

#u14506_img
{
	margin-bottom: 1px;
	margin-left: -4px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
	}

	#u114-55
	{
		min-height: 324px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 34px;
	}

	#u2439
	{
		margin-top: 446px;
		left: 2.01%;
	}

	#slideshowu9481
	{
		height: 771px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 1053px;
		height: 711px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u9519
	{
		width: 985px;
		top: 711px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 965px;
		min-height: 40px;
	}

	#u9500-4
	{
		top: 711px;
		left: 985px;
	}

	#u9517-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u9516-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-6
	{
		margin-top: 65px;
	}

	#u14302-6
	{
		width: 381px;
	}

	#pu14103
	{
		width: 0.01px;
	}

	#u14103
	{
		margin-right: -10000px;
		margin-top: 344px;
	}

	#u114-55
	{
		min-height: 401px;
		margin-right: -10000px;
	}

	#u2439
	{
		margin-top: 416px;
		left: 2.01%;
	}

	#slideshowu9481
	{
		height: 650px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 772px;
		height: 521px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u9519
	{
		width: 704px;
		top: 521px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u9500-4
	{
		top: 521px;
		left: 704px;
	}

	#u9517-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u9516-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-6
	{
		margin-top: 65px;
	}

	#u14302-6
	{
		width: 294px;
	}

	#u114-55
	{
		min-height: 403px;
	}

	#u2439
	{
		margin-top: 416px;
		left: 2%;
	}

	#u14103
	{
		margin-right: -10000px;
		margin-top: 444px;
		left: 20px;
	}

	#slideshowu9481
	{
		height: 751px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 573px;
		height: 387px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u9519
	{
		width: 450px;
		top: 387px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u9500-4
	{
		top: 387px;
		left: 505px;
	}

	#u9517-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u9516-4
	{
		width: 270px;
		min-height: 367px;
		left: 283px;
	}

	body
	{
		min-width: 320px;
	}

}

