.version.fredrik_lund /* version checker */
{
	color: #0000FF;
	background-color: #C95072;
}

#page
{
	width: 100%;
	background-image: none;
	margin-left: auto;
	margin-right: auto;
	border-color: #000000;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
}

#u4651
{
	position: relative;
	margin-right: -10000px;
	width: 113px;
	z-index: 70;
}

#u114-67
{
	left: 20px;
	position: relative;
	margin-right: -10000px;
	width: 187px;
	z-index: 2;
}

#u2439
{
	position: relative;
	margin-right: -10000px;
	width: 35px;
	z-index: 69;
	min-height: 35px;
}

#slideshowu12066
{
	left: 227px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	width: 0.01px;
	z-index: 72;
}

#u12071popup
{
	z-index: 73;
}

#u12072
{
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	background-color: transparent;
	z-index: 74;
}

#u12210
{
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	background-color: transparent;
	z-index: 76;
}

#u12252
{
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	background-color: transparent;
	z-index: 78;
}

#u12071,#u12067
{
	background-color: transparent;
	position: absolute;
}

#u12067popup
{
	z-index: 80;
}

#u12068-4
{
	color: #999999;
	border-width: 0px;
	z-index: 81;
	position: relative;
	text-align: left;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
}

#u12234-4
{
	color: #999999;
	border-width: 0px;
	z-index: 85;
	position: relative;
	text-align: left;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
}

#u12276-4
{
	color: #999999;
	border-width: 0px;
	z-index: 89;
	position: relative;
	text-align: left;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
}

#u12073-4
{
	width: 48px;
	position: absolute;
	text-align: center;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-color: transparent;
	border-width: 0px;
	line-height: 20px;
	min-height: 20px;
}

#u12073-4popup
{
	z-index: 93;
}

#u12078-4
{
	opacity: 0;
	position: absolute;
	text-align: center;
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	filter: alpha(opacity=0);
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-color: transparent;
	border-width: 0px;
	line-height: 20px;
}

#u12078-4popup
{
	z-index: 97;
}

#u12073,#u12078
{
	color: #999999;
}

#u12079-4
{
	color: #999999;
	opacity: 0;
	position: absolute;
	text-align: center;
	padding: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	filter: alpha(opacity=0);
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-color: transparent;
	border-width: 0px;
	line-height: 20px;
}

#u12079-4popup
{
	z-index: 101;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#slideshowu12066
	{
		height: 806px;
	}

	#u12071,#u12072,#u12210,#u12252
	{
		width: 1053px;
		height: 711px;
	}

	#u12072_img,#u12210_img,#u12252_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u12067
	{
		width: 985px;
		top: 711px;
	}

	#u12068-4,#u12234-4,#u12276-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u12073-4
	{
		top: 711px;
		left: 985px;
	}

	#u12078-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u12079-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	body
	{
		padding-top: 20px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 235px;
		max-width: 1294px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.47%;
	}

	#u114-67
	{
		min-height: 533px;
		margin-top: 100px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.55%;
	}

	#slideshowu12066
	{
		height: 650px;
	}

	#u12071,#u12072,#u12210,#u12252
	{
		width: 772px;
		height: 521px;
	}

	#u12067
	{
		width: 704px;
		top: 521px;
	}

	#u12068-4,#u12234-4,#u12276-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u12073-4
	{
		top: 521px;
		left: 704px;
	}

	#u12078-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u12079-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	body
	{
		padding-top: 10px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 867px;
		padding-bottom: 134px;
		max-width: 1000px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.5%;
	}

	#u114-67
	{
		min-height: 581px;
		margin-top: 100px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 2%;
	}

	#slideshowu12066
	{
		height: 751px;
	}

	#u12071,#u12072,#u12210,#u12252
	{
		width: 573px;
		height: 387px;
	}

	#u12067
	{
		width: 450px;
		top: 387px;
	}

	#u12068-4,#u12234-4,#u12276-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u12073-4
	{
		top: 387px;
		left: 505px;
	}

	#u12078-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u12079-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	body
	{
		min-width: 320px;
	}

}

