.version.index /* version checker */
{
	color: #00000E;
	background-color: #C27D97;
}

#page
{
	background-color: transparent;
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
}

#u4651
{
	z-index: 72;
	position: relative;
	width: 113px;
	margin-right: -10000px;
}

#u114-69
{
	left: 20px;
	z-index: 2;
	position: relative;
	width: 187px;
	margin-right: -10000px;
	margin-top: 100px;
}

#u2439
{
	z-index: 71;
	position: relative;
	min-height: 35px;
	width: 35px;
	margin-right: -10000px;
}

#slideshowu5771
{
	left: 227px;
	z-index: 74;
	position: relative;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 116px;
}

#u5778popup
{
	z-index: 75;
}

#u7180
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 76;
	border-color: transparent;
}

#u7608
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 78;
	border-color: transparent;
}

#u7650
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 80;
	border-color: transparent;
}

#u7692
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 82;
	border-color: transparent;
}

#u7734
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 84;
	border-color: transparent;
}

#u5778,#u5774
{
	background-color: transparent;
	position: absolute;
}

#u5774popup
{
	z-index: 86;
}

#u7206-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 87;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7632-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 91;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7674-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 95;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7716-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 99;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7758-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 103;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u5792-4
{
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	border-color: transparent;
	padding: 10px;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 48px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u5792-4popup
{
	z-index: 107;
}

#u5772-4
{
	opacity: 0;
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	filter: alpha(opacity=0);
	border-color: transparent;
	padding: 10px;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5772-4popup
{
	z-index: 111;
}

#u5792,#u5772
{
	color: #999999;
}

#u5793-4
{
	color: #999999;
	opacity: 0;
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	filter: alpha(opacity=0);
	border-color: transparent;
	padding: 10px;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5793-4popup
{
	z-index: 115;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-69
	{
		min-height: 404px;
	}

	#slideshowu5771
	{
		height: 806px;
	}

	#u5778,#u7180,#u7608,#u7650,#u7692,#u7734
	{
		width: 1053px;
		height: 711px;
	}

	#u7180_img,#u7608_img,#u7650_img,#u7692_img,#u7734_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u5774
	{
		width: 985px;
		top: 711px;
	}

	#u7206-4,#u7632-4,#u7674-4,#u7716-4,#u7758-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u5792-4
	{
		top: 711px;
		left: 985px;
	}

	#u5772-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u5793-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 235px;
		max-width: 1294px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.47%;
	}

	#u114-69
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.55%;
	}

	#slideshowu5771
	{
		height: 650px;
	}

	#u5778,#u7180,#u7608,#u7650,#u7692,#u7734
	{
		width: 772px;
		height: 521px;
	}

	#u5774
	{
		width: 704px;
		top: 521px;
	}

	#u7206-4,#u7632-4,#u7674-4,#u7716-4,#u7758-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u5792-4
	{
		top: 521px;
		left: 704px;
	}

	#u5772-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u5793-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 867px;
		padding-bottom: 134px;
		max-width: 1000px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.5%;
	}

	#u114-69
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 2%;
	}

	#slideshowu5771
	{
		height: 751px;
	}

	#u5778,#u7180,#u7608,#u7650,#u7692,#u7734
	{
		width: 573px;
		height: 387px;
	}

	#u5774
	{
		width: 450px;
		top: 387px;
	}

	#u7206-4,#u7632-4,#u7674-4,#u7716-4,#u7758-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u5792-4
	{
		top: 387px;
		left: 505px;
	}

	#u5772-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u5793-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	body
	{
		min-width: 320px;
	}

}

