.version.kontakt /* version checker */
{
	color: #000001;
	background-color: #5BAAE2;
}

#u17164
{
	bottom: 20px;
	width: 25px;
	z-index: 77;
	right: 55px;
	position: fixed;
}

#u17158
{
	bottom: 20px;
	width: 25px;
	z-index: 79;
	right: 20px;
	position: fixed;
}

#page
{
	background-image: none;
	background-color: transparent;
	margin-right: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	margin-left: auto;
}

#pu19209-6
{
	width: 0.01px;
}

#u19209-6
{
	z-index: 81;
	position: relative;
}

#u17156
{
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	width: 99px;
	z-index: 2;
}

#u17157-73
{
	width: 187px;
	z-index: 3;
	position: relative;
}

#u15689-18
{
	min-height: 359px;
	position: relative;
	margin-right: -10000px;
	text-align: center;
	z-index: 87;
	background-color: transparent;
}

#u17160
{
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	width: 35px;
	z-index: 76;
}

#u17164_img
{
	margin-right: -1px;
	margin-left: 1px;
}

#u17158_img
{
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: -4px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 558px;
		padding-bottom: 262px;
		max-width: 1345px;
	}

	#pu19209-6
	{
		margin-right: -10000px;
		margin-top: 72px;
		margin-left: 20px;
	}

	#u19209-6
	{
		width: 396px;
		min-height: 35px;
	}

	#u17157-73
	{
		min-height: 358px;
		margin-top: 8px;
	}

	#u17156
	{
		margin-top: 20px;
		left: 435px;
	}

	#u17160
	{
		margin-top: 25px;
		left: 32.87%;
	}

	#u15689-18
	{
		margin-top: 116px;
		left: 455px;
		width: 32.35%;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 542px;
		padding-bottom: 276px;
		max-width: 1294px;
	}

	#ppu19209-6
	{
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 20px;
		width: 48.38%;
	}

	#u19209-6
	{
		width: 381px;
		min-height: 35px;
		margin-right: -10000px;
		margin-top: 44px;
	}

	#u17156
	{
		left: 388px;
	}

	#pu17157-73
	{
		margin-top: -1px;
		width: 100%;
	}

	#u17157-73
	{
		min-height: 401px;
		margin-right: -10000px;
		margin-top: 1px;
	}

	#u15689-18
	{
		left: 207px;
		width: 66.94%;
	}

	#u17160
	{
		margin-top: 29px;
		left: 31.54%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 542px;
		padding-bottom: 278px;
		max-width: 1000px;
	}

	#ppu19209-6
	{
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 20px;
		width: 53%;
	}

	#u19209-6
	{
		width: 294px;
		min-height: 50px;
		margin-right: -10000px;
		margin-top: 30px;
	}

	#u17156
	{
		left: 301px;
	}

	#pu17157-73
	{
		margin-top: -1px;
		width: 100%;
	}

	#u17157-73
	{
		min-height: 403px;
		margin-right: -10000px;
		margin-top: 1px;
	}

	#u15689-18
	{
		left: 207px;
		width: 60.95%;
	}

	#u17160
	{
		margin-top: 22px;
		left: 32.1%;
	}

	body
	{
		min-width: 320px;
	}

}

