.version.kontakt /* version checker */
{
	color: #0000E7;
	background-color: #B95259;
}

#u17164
{
	bottom: 20px;
	right: 55px;
	width: 25px;
	z-index: 85;
	position: fixed;
}

#u17158
{
	bottom: 20px;
	right: 20px;
	width: 25px;
	z-index: 87;
	position: fixed;
}

#page
{
	margin-left: auto;
	background-image: none;
	margin-right: auto;
	border-color: #000000;
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	z-index: 1;
}

#pu19209-5
{
	margin-left: 20px;
	width: 0.01px;
	margin-right: -10000px;
}

#u19209-5
{
	z-index: 89;
	position: relative;
}

#u17157-81
{
	width: 187px;
	z-index: 3;
	position: relative;
}

#u19629-4
{
	left: 50%;
	position: fixed;
	min-height: 11px;
	z-index: 114;
}

#u17156
{
	z-index: 2;
	position: relative;
	margin-top: 20px;
	min-height: 80px;
	width: 99px;
	margin-right: -10000px;
}

#u17160
{
	z-index: 84;
	position: relative;
	min-height: 35px;
	width: 35px;
	margin-right: -10000px;
}

#u15689-20
{
	margin-right: -10000px;
	position: relative;
	text-align: center;
	background-color: transparent;
	z-index: 94;
}

#u15689,#u15689-2,#u15689-3,#u15689-4,#u15689-5,#u15689-6,#u15689-7,#u15689-8,#u15689-9,#u15689-10,#u15689-14,#u15689-15
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u17164_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u17158_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 592px;
		padding-bottom: 228px;
		max-width: 1345px;
	}

	#pu19209-5
	{
		margin-top: 72px;
	}

	#u19209-5
	{
		width: 396px;
		min-height: 35px;
	}

	#u17157-81
	{
		min-height: 358px;
		margin-top: 8px;
	}

	#u19629-4
	{
		width: 1055px;
		bottom: 24px;
		margin-left: -445px;
	}

	#u17156
	{
		left: 435px;
	}

	#u17160
	{
		margin-top: 25px;
		left: 32.87%;
	}

	#u15689-20
	{
		min-height: 375px;
		margin-top: 116px;
		left: 545px;
		width: 32.35%;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 576px;
		padding-bottom: 242px;
		max-width: 1294px;
	}

	#pu19209-5
	{
		padding-bottom: 0px;
		margin-top: 64px;
	}

	#u19209-5
	{
		width: 381px;
		min-height: 35px;
	}

	#u17157-81
	{
		min-height: 401px;
	}

	#u19629-4
	{
		width: 773px;
		bottom: 24px;
		margin-left: -420px;
	}

	#u17156
	{
		left: 408px;
	}

	#u17160
	{
		margin-top: 29px;
		left: 31.54%;
	}

	#u15689-20
	{
		min-height: 374px;
		margin-top: 100px;
		left: 413px;
		width: 32.39%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 576px;
		padding-bottom: 244px;
		max-width: 1000px;
	}

	#pu19209-5
	{
		padding-bottom: 0px;
		margin-top: 50px;
	}

	#u19209-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u17157-81
	{
		min-height: 403px;
	}

	#u19629-4
	{
		width: 573px;
		bottom: 26px;
		margin-left: -273px;
	}

	#u17156
	{
		left: 321px;
	}

	#u17160
	{
		margin-top: 22px;
		left: 32.1%;
	}

	#u15689-20
	{
		min-height: 374px;
		margin-top: 100px;
		left: 413px;
		width: 32.31%;
	}

	body
	{
		min-width: 320px;
	}

}

