.version.kontakt /* version checker */
{
	color: #000009;
	background-color: #BC3753;
}

#u17164
{
	bottom: 20px;
	width: 25px;
	z-index: 73;
	right: 55px;
	position: fixed;
}

#u17158
{
	bottom: 20px;
	width: 25px;
	z-index: 75;
	right: 20px;
	position: fixed;
}

#page
{
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	border-width: 0px;
	margin-left: auto;
	width: 100%;
	z-index: 1;
	background-color: transparent;
}

#pu17163-4
{
	margin-left: 20px;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u17163-4
{
	position: relative;
	z-index: 69;
	min-height: 35px;
}

#u17157-65
{
	width: 187px;
	z-index: 3;
	position: relative;
}

#u17160
{
	margin-right: -10000px;
	position: relative;
	width: 35px;
	z-index: 68;
	min-height: 35px;
}

#u17156
{
	margin-right: -10000px;
	position: relative;
	width: 99px;
	z-index: 2;
	min-height: 80px;
}

#u15689-17
{
	min-height: 359px;
	margin-right: -10000px;
	text-align: center;
	z-index: 77;
	background-color: transparent;
	position: relative;
}

#u17164_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u17158_img
{
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 554px;
		padding-bottom: 266px;
		max-width: 1345px;
	}

	#pu17163-4
	{
		margin-top: 72px;
	}

	#u17163-4
	{
		width: 396px;
	}

	#pu17156
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u17156
	{
		margin-top: 358px;
	}

	#u17157-65
	{
		min-height: 358px;
		margin-right: -10000px;
	}

	#u17160
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#u15689-17
	{
		margin-top: 116px;
		left: 455px;
		width: 32.35%;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 524px;
		padding-bottom: 294px;
		max-width: 1294px;
	}

	#pu17163-4
	{
		margin-top: 65px;
	}

	#u17163-4
	{
		width: 381px;
	}

	#pu17156
	{
		width: 0.01px;
	}

	#u17156
	{
		margin-top: 344px;
	}

	#u17157-65
	{
		min-height: 401px;
		margin-right: -10000px;
	}

	#u17160
	{
		margin-top: 416px;
		left: 2.01%;
	}

	#u15689-17
	{
		margin-top: 99px;
		left: 227px;
		width: 32.39%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 524px;
		padding-bottom: 296px;
		max-width: 1000px;
	}

	#pu17163-4
	{
		margin-top: 65px;
	}

	#u17163-4
	{
		width: 294px;
	}

	#u17157-65
	{
		min-height: 403px;
	}

	#u17160
	{
		margin-top: 416px;
		left: 2%;
	}

	#u17156
	{
		margin-top: 444px;
		left: 20px;
	}

	#u15689-17
	{
		margin-top: 99px;
		left: 227px;
		width: 32.31%;
	}

	body
	{
		min-width: 320px;
	}

}

