.version.kontakt /* version checker */
{
	color: #0000FE;
	background-color: #C41FEC;
}

#u16704
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 71;
	position: fixed;
}

#u16701
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 73;
	position: fixed;
}

#page
{
	background-image: none;
	margin-right: auto;
	background-color: transparent;
	z-index: 1;
	border-color: #000000;
	margin-left: auto;
	width: 100%;
	border-width: 0px;
}

#pu16699-6
{
	margin-left: 20px;
	margin-right: -10000px;
	width: 0.01px;
	padding-bottom: 0px;
}

#u16699-6
{
	min-height: 35px;
	z-index: 65;
	position: relative;
}

#u16703-61
{
	z-index: 3;
	position: relative;
	width: 187px;
}

#u16700
{
	margin-right: -10000px;
	z-index: 64;
	position: relative;
	width: 35px;
	min-height: 35px;
}

#u16698
{
	z-index: 2;
	position: relative;
	width: 99px;
	min-height: 80px;
}

#u15689-16
{
	margin-right: -10000px;
	text-align: center;
	background-color: transparent;
	z-index: 75;
	position: relative;
	min-height: 359px;
}

#u16704_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u16701_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 554px;
		padding-bottom: 266px;
		max-width: 1345px;
	}

	#pu16699-6
	{
		margin-top: 72px;
	}

	#u16699-6
	{
		width: 396px;
	}

	#u16703-61
	{
		min-height: 358px;
		margin-top: 9px;
	}

	#u16700
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#u15689-16
	{
		margin-top: 116px;
		left: 455px;
		width: 32.35%;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 524px;
		padding-bottom: 294px;
		max-width: 1294px;
	}

	#pu16699-6
	{
		margin-top: 65px;
	}

	#u16699-6
	{
		width: 381px;
	}

	#pu16698
	{
		width: 0.01px;
	}

	#u16698
	{
		margin-right: -10000px;
		margin-top: 344px;
	}

	#u16703-61
	{
		min-height: 401px;
		margin-right: -10000px;
	}

	#u16700
	{
		margin-top: 416px;
		left: 2.01%;
	}

	#u15689-16
	{
		margin-top: 99px;
		left: 227px;
		width: 32.39%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 524px;
		padding-bottom: 296px;
		max-width: 1000px;
	}

	#pu16699-6
	{
		margin-top: 65px;
	}

	#u16699-6
	{
		width: 294px;
	}

	#u16703-61
	{
		min-height: 403px;
	}

	#u16700
	{
		margin-top: 416px;
		left: 2%;
	}

	#u16698
	{
		margin-right: -10000px;
		margin-top: 444px;
		left: 20px;
	}

	#u15689-16
	{
		margin-top: 99px;
		left: 227px;
		width: 32.31%;
	}

	body
	{
		min-width: 320px;
	}

}

