.version.l_nn__sierru /* version checker */
{
	color: #000005;
	background-color: #642724;
}

#page
{
	border-width: 0px;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	margin-right: auto;
}

#pu19209-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-right: -10000px;
}

#u19209-5
{
	z-index: 97;
	position: relative;
}

#pu17157-89
{
	width: 0.01px;
}

#u17157-89
{
	width: 187px;
	z-index: 3;
	margin-right: -10000px;
	position: relative;
}

#slideshowu11548
{
	left: 207px;
	z-index: 102;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
}

#u11549popup
{
	z-index: 103;
}

#u11550
{
	border-width: 0px;
	z-index: 104;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u11549,#u11559
{
	background-color: transparent;
	position: absolute;
}

#u11559popup
{
	z-index: 106;
}

#u11562-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 107;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u11556-4
{
	border-width: 0px;
	text-align: center;
	background-color: #FFFFFF;
	position: absolute;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	width: 48px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u11556-4popup
{
	z-index: 111;
}

#u11563-4
{
	border-width: 0px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u11563-4popup
{
	z-index: 115;
}

#u11556,#u11563
{
	color: #999999;
}

#u11566-4
{
	border-width: 0px;
	color: #999999;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u11566-4popup
{
	z-index: 119;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19629-4
{
	left: 50%;
	z-index: 123;
	position: fixed;
	min-height: 11px;
}

#u17156
{
	z-index: 2;
	margin-right: -10000px;
	position: relative;
	min-height: 80px;
	width: 99px;
	margin-top: 20px;
}

#u17160
{
	z-index: 92;
	margin-right: -10000px;
	position: relative;
	min-height: 35px;
	width: 35px;
}

#u17164
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 93;
	position: fixed;
}

#u17164_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u17158
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 95;
	position: fixed;
}

#u17158_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu19209-5
	{
		margin-top: 72px;
	}

	#u19209-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu17157-89
	{
		margin-top: 8px;
	}

	#u17157-89
	{
		min-height: 358px;
	}

	#slideshowu11548
	{
		height: 751px;
	}

	#u11549,#u11550
	{
		width: 1053px;
		height: 711px;
	}

	#u11550_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u11559
	{
		width: 985px;
		top: 711px;
	}

	#u11562-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u11556-4
	{
		top: 711px;
		left: 985px;
	}

	#u11563-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u11566-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	#u19629-4
	{
		width: 1055px;
		bottom: 24px;
		margin-left: -445px;
	}

	#u17156
	{
		left: 435px;
	}

	#u17160
	{
		margin-top: 25px;
		left: 32.87%;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu19209-5
	{
		margin-top: 64px;
	}

	#u19209-5
	{
		width: 381px;
		min-height: 35px;
	}

	#u17157-89
	{
		min-height: 401px;
	}

	#slideshowu11548
	{
		height: 650px;
		margin-top: 16px;
	}

	#u11549,#u11550
	{
		width: 772px;
		height: 521px;
	}

	#u11559
	{
		width: 704px;
		top: 521px;
	}

	#u11562-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u11556-4
	{
		top: 521px;
		left: 704px;
	}

	#u11563-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u11566-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u19629-4
	{
		width: 773px;
		bottom: 24px;
		margin-left: -420px;
	}

	#u17156
	{
		left: 408px;
	}

	#u17160
	{
		margin-top: 29px;
		left: 31.54%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu19209-5
	{
		margin-top: 50px;
	}

	#u19209-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u17157-89
	{
		min-height: 403px;
	}

	#slideshowu11548
	{
		height: 751px;
		margin-top: 16px;
	}

	#u11549,#u11550
	{
		width: 573px;
		height: 387px;
	}

	#u11559
	{
		width: 450px;
		top: 387px;
	}

	#u11562-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u11556-4
	{
		top: 387px;
		left: 505px;
	}

	#u11563-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u11566-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	#u19629-4
	{
		width: 573px;
		bottom: 26px;
		margin-left: -273px;
	}

	#u17156
	{
		left: 321px;
	}

	#u17160
	{
		margin-top: 22px;
		left: 32.1%;
	}

	body
	{
		min-width: 320px;
	}

}

