.version.marit /* version checker */
{
	color: #00001E;
	background-color: #4E3D4F;
}

#page
{
	margin-left: auto;
	background-image: none;
	margin-right: auto;
	border-color: #000000;
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	z-index: 1;
}

#pu14302-5
{
	margin-left: 20px;
	width: 0.01px;
	margin-right: -10000px;
}

#u14302-5
{
	z-index: 85;
	position: relative;
}

#pu114-81
{
	width: 0.01px;
}

#u114-81
{
	position: relative;
	width: 187px;
	margin-right: -10000px;
	z-index: 3;
}

#slideshowu8237
{
	left: 207px;
	z-index: 92;
	position: relative;
	width: 0.01px;
	margin-right: -10000px;
}

#u8240popup
{
	z-index: 93;
}

#u8247
{
	margin-right: -10000px;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 94;
	position: relative;
}

#u8547
{
	margin-right: -10000px;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 96;
	position: relative;
}

#u8589
{
	margin-right: -10000px;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	z-index: 98;
	position: relative;
}

#u8240,#u8251
{
	background-color: transparent;
	position: absolute;
}

#u8251popup
{
	z-index: 100;
}

#u8254-4
{
	color: #999999;
	padding: 10px;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 101;
}

#u8571-4
{
	color: #999999;
	padding: 10px;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 105;
}

#u8613-4
{
	color: #999999;
	padding: 10px;
	margin-right: -10000px;
	border-color: transparent;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 109;
}

#u8238-4
{
	padding: 10px;
	background-color: #FFFFFF;
	border-color: transparent;
	position: absolute;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	min-height: 20px;
	text-align: center;
	border-width: 0px;
	width: 48px;
}

#u8238-4popup
{
	z-index: 113;
}

#u8271-4
{
	padding: 10px;
	text-align: center;
	background-color: transparent;
	border-color: transparent;
	filter: alpha(opacity=0);
	position: absolute;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	border-width: 0px;
}

#u8271-4popup
{
	z-index: 117;
}

#u8238,#u8271
{
	color: #999999;
}

#u8272-4
{
	padding: 10px;
	text-align: center;
	background-color: transparent;
	border-color: transparent;
	color: #999999;
	filter: alpha(opacity=0);
	position: absolute;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	border-width: 0px;
}

#u8272-4popup
{
	z-index: 121;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19225-4
{
	bottom: 22px;
	left: 50%;
	position: fixed;
	z-index: 125;
}

#u14103
{
	z-index: 2;
	position: relative;
	margin-top: 20px;
	min-height: 80px;
	width: 99px;
	margin-right: -10000px;
}

#u2439
{
	z-index: 84;
	position: relative;
	min-height: 35px;
	width: 35px;
	margin-right: -10000px;
}

#u16340
{
	z-index: 90;
	position: relative;
	margin-right: -10000px;
}

#u14502
{
	bottom: 20px;
	right: 55px;
	width: 25px;
	z-index: 129;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	right: 20px;
	width: 25px;
	z-index: 131;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		padding-bottom: 0px;
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-81
	{
		margin-top: 8px;
	}

	#u114-81
	{
		min-height: 358px;
	}

	#slideshowu8237
	{
		height: 751px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 1053px;
		height: 711px;
	}

	#u8247_img,#u8547_img,#u8589_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u8251
	{
		width: 985px;
		top: 711px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u8238-4
	{
		top: 711px;
		left: 985px;
	}

	#u8271-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8272-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-5
	{
		margin-top: 65px;
	}

	#u14302-5
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-81
	{
		margin-top: -1px;
	}

	#u114-81
	{
		min-height: 401px;
	}

	#slideshowu8237
	{
		height: 650px;
		margin-top: 16px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 772px;
		height: 521px;
	}

	#u8251
	{
		width: 704px;
		top: 521px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u8238-4
	{
		top: 521px;
		left: 704px;
	}

	#u8271-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u8272-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u19225-4
	{
		width: 773px;
		min-height: 11px;
		margin-left: -420px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-5
	{
		margin-top: 50px;
	}

	#u14302-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-81
	{
		min-height: 403px;
	}

	#slideshowu8237
	{
		height: 751px;
		margin-top: 16px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 573px;
		height: 387px;
	}

	#u8251
	{
		width: 450px;
		top: 387px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u8238-4
	{
		top: 387px;
		left: 505px;
	}

	#u8271-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u8272-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	#u19225-4
	{
		width: 573px;
		min-height: 13px;
		margin-left: -273px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

