.version.marit /* version checker */
{
	color: #000009;
	background-color: #2560FB;
}

#page
{
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	border-width: 0px;
	margin-left: auto;
	width: 100%;
	z-index: 1;
	background-color: transparent;
}

#pu14302-4
{
	margin-left: 20px;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u14302-4
{
	position: relative;
	z-index: 69;
	min-height: 35px;
}

#u114-65
{
	width: 187px;
	z-index: 3;
	position: relative;
}

#u2439
{
	margin-right: -10000px;
	position: relative;
	width: 35px;
	z-index: 68;
	min-height: 35px;
}

#u14103
{
	margin-right: -10000px;
	position: relative;
	width: 99px;
	z-index: 2;
	min-height: 80px;
}

#slideshowu8237
{
	left: 227px;
	margin-top: 116px;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
	z-index: 79;
}

#u8240popup
{
	z-index: 80;
}

#u8247
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 81;
	background-color: transparent;
}

#u8547
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 83;
	background-color: transparent;
}

#u8589
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	z-index: 85;
	background-color: transparent;
}

#u8240,#u8251
{
	background-color: transparent;
	position: absolute;
}

#u8251popup
{
	z-index: 87;
}

#u8254-4
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 88;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8571-4
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 92;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8613-4
{
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px;
	z-index: 96;
	padding: 10px;
	border-color: transparent;
	margin-right: -10000px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8238-4
{
	line-height: 20px;
	background-color: #FFFFFF;
	position: absolute;
	border-width: 0px;
	min-height: 20px;
	padding: 10px;
	border-color: transparent;
	text-align: center;
	width: 48px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8238-4popup
{
	z-index: 100;
}

#u8271-4
{
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	opacity: 0;
	border-width: 0px;
	filter: alpha(opacity=0);
	padding: 10px;
	border-color: transparent;
	text-align: center;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
}

#u8271-4popup
{
	z-index: 104;
}

#u8238,#u8271
{
	color: #999999;
}

#u8272-4
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	opacity: 0;
	border-width: 0px;
	filter: alpha(opacity=0);
	padding: 10px;
	border-color: transparent;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background-color: transparent;
	text-align: center;
}

#u8272-4popup
{
	z-index: 108;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u16340
{
	margin-right: -10000px;
	position: relative;
	z-index: 77;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	z-index: 73;
	right: 55px;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	z-index: 75;
	right: 20px;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-right: 5px;
	margin-bottom: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-4
	{
		margin-top: 72px;
	}

	#u14302-4
	{
		width: 396px;
	}

	#pu14103
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 358px;
	}

	#u114-65
	{
		min-height: 358px;
		margin-right: -10000px;
	}

	#u2439
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#slideshowu8237
	{
		height: 751px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 1053px;
		height: 711px;
	}

	#u8247_img,#u8547_img,#u8589_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u8251
	{
		width: 985px;
		top: 711px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u8238-4
	{
		top: 711px;
		left: 985px;
	}

	#u8271-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8272-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-4
	{
		margin-top: 65px;
	}

	#u14302-4
	{
		width: 381px;
	}

	#pu14103
	{
		width: 0.01px;
	}

	#u14103
	{
		margin-top: 344px;
	}

	#u114-65
	{
		min-height: 401px;
		margin-right: -10000px;
	}

	#u2439
	{
		margin-top: 416px;
		left: 2.01%;
	}

	#slideshowu8237
	{
		height: 650px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 772px;
		height: 521px;
	}

	#u8251
	{
		width: 704px;
		top: 521px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u8238-4
	{
		top: 521px;
		left: 704px;
	}

	#u8271-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u8272-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-4
	{
		margin-top: 65px;
	}

	#u14302-4
	{
		width: 294px;
	}

	#u114-65
	{
		min-height: 403px;
	}

	#u2439
	{
		margin-top: 416px;
		left: 2%;
	}

	#u14103
	{
		margin-top: 444px;
		left: 20px;
	}

	#slideshowu8237
	{
		height: 751px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 573px;
		height: 387px;
	}

	#u8251
	{
		width: 450px;
		top: 387px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u8238-4
	{
		top: 387px;
		left: 505px;
	}

	#u8271-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u8272-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

