.version.marit /* version checker */
{
	color: #00001D;
	background-color: #D66FD5;
}

#page
{
	background-color: transparent;
	margin-right: auto;
	background-image: none;
	border-width: 0px;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
}

#u4651
{
	z-index: 68;
	position: relative;
	width: 113px;
	margin-right: -10000px;
}

#u114-65
{
	left: 20px;
	z-index: 2;
	position: relative;
	width: 187px;
	margin-right: -10000px;
	margin-top: 100px;
}

#u2439
{
	z-index: 67;
	position: relative;
	min-height: 35px;
	width: 35px;
	margin-right: -10000px;
}

#slideshowu7945
{
	left: 227px;
	z-index: 70;
	position: relative;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 116px;
	height: 806px;
}

#u7964
{
	position: absolute;
	width: 1053px;
	background-color: transparent;
	height: 711px;
}

#u7964popup
{
	z-index: 71;
}

#u7971
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 1053px;
	z-index: 72;
	border-color: transparent;
	height: 711px;
}

#u8134
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 1053px;
	z-index: 74;
	border-color: transparent;
	height: 711px;
}

#u8154
{
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-width: 0px;
	width: 1053px;
	z-index: 76;
	border-color: transparent;
	height: 711px;
}

#u7971_img,#u8134_img,#u8154_img
{
	padding: 10px 14px 10px 15px;
}

#u7946
{
	width: 985px;
	top: 711px;
	background-color: transparent;
	position: absolute;
}

#u7946popup
{
	z-index: 78;
}

#u7950-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 79;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	min-height: 75px;
	width: 965px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8146-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 83;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	min-height: 75px;
	width: 965px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8166-4
{
	color: #999999;
	line-height: 20px;
	position: relative;
	border-width: 0px;
	z-index: 87;
	border-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	min-height: 75px;
	width: 965px;
	text-align: left;
	background-color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7975-4
{
	left: 985px;
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	top: 711px;
	border-color: transparent;
	padding: 10px;
	background-color: #FFFFFF;
	min-height: 20px;
	width: 48px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u7975-4popup
{
	z-index: 91;
}

#u7974-4
{
	min-height: 691px;
	opacity: 0;
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	filter: alpha(opacity=0);
	border-color: transparent;
	padding: 10px;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 507px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7974-4popup
{
	z-index: 95;
}

#u7975,#u7974
{
	color: #999999;
}

#u7962-4
{
	min-height: 691px;
	color: #999999;
	opacity: 0;
	line-height: 20px;
	position: absolute;
	border-width: 0px;
	filter: alpha(opacity=0);
	border-color: transparent;
	padding: 10px;
	left: 527px;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	width: 506px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7962-4popup
{
	z-index: 99;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-65
	{
		min-height: 361px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 906px;
		padding-bottom: 95px;
		max-width: 1294px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.47%;
	}

	#u114-65
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 1.55%;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 906px;
		padding-bottom: 95px;
		max-width: 1000px;
	}

	#u4651
	{
		margin-top: 20px;
		left: 1.5%;
	}

	#u114-65
	{
		min-height: 270px;
	}

	#u2439
	{
		margin-top: 406px;
		left: 2%;
	}

	body
	{
		min-width: 320px;
	}

}

