#u4651
{
	background-color: transparent;
}

#u114-67
{
	text-align: left;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u114-25,#u114-36
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u114-60,#u114-61,#u114-65
{
	font-weight: bold;
}

#u114-59,#u114-64
{
	font-weight: normal;
}

#u2439
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}




