#u14302-6
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	text-transform: none;
	background-color: transparent;
	line-height: 18px;
	font-size: 18px;
	letter-spacing: 0px;
}

#u14302
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u114-73
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	text-indent: -5px;
	background-color: transparent;
}

#u114
{
	padding-left: 5px;
}

#u114-3
{
	padding-left: 5px;
	font-style: italic;
}

#u114-7
{
	padding-left: 5px;
}

#u114-11
{
	padding-left: 5px;
}

#u114-15
{
	padding-left: 5px;
}

#u114-19
{
	padding-left: 5px;
}

#u114-23
{
	padding-left: 5px;
}

#u114-27
{
	padding-left: 5px;
}

#u114-28
{
	padding-left: 5px;
}

#u114-30
{
	padding-left: 5px;
	font-style: italic;
}

#u114-34
{
	padding-left: 5px;
}

#u114-38
{
	padding-left: 5px;
}

#u114-42
{
	padding-left: 5px;
}

#u114-43
{
	padding-left: 5px;
}

#u114-45
{
	padding-left: 5px;
	font-style: italic;
}

#u114-49
{
	padding-left: 5px;
	font-style: italic;
}

#u114-46
{
	font-style: normal;
}

#u114-53
{
	padding-left: 5px;
}

#u114-57
{
	padding-left: 5px;
}

#u114-61
{
	padding-left: 5px;
}

#u114-65
{
	padding-left: 5px;
}

#u114-66
{
	padding-left: 5px;
}

#u114-67
{
	padding-left: 5px;
}

#u114-71
{
	padding-left: 5px;
}

#u14103,#u2439
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u16340,#u14502,#u14506
{
	background-color: transparent;
}




