#u19209-6
{
	font-style: italic;
	line-height: 18px;
	background-color: transparent;
	font-size: 18px;
	text-transform: none;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u19209
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u17157-72
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	background-color: transparent;
	text-indent: -5px;
}

#u17157
{
	padding-left: 5px;
}

#u17157-3
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-7
{
	padding-left: 5px;
}

#u17157-11
{
	padding-left: 5px;
}

#u17157-15
{
	padding-left: 5px;
}

#u17157-19
{
	padding-left: 5px;
}

#u17157-23
{
	padding-left: 5px;
}

#u17157-27
{
	padding-left: 5px;
}

#u17157-28
{
	padding-left: 5px;
}

#u17157-30
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-34
{
	padding-left: 5px;
}

#u17157-38
{
	padding-left: 5px;
}

#u17157-42
{
	padding-left: 5px;
}

#u17157-43
{
	padding-left: 5px;
}

#u17157-45
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-49
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-46
{
	font-style: normal;
}

#u17157-53
{
	padding-left: 5px;
}

#u17157-57
{
	padding-left: 5px;
}

#u17157-61
{
	padding-left: 5px;
}

#u17157-65
{
	padding-left: 5px;
}

#u17157-66
{
	padding-left: 5px;
}

#u17157-70
{
	padding-left: 5px;
}

#u17156,#u17160
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
}

#u17164,#u17158
{
	background-color: transparent;
}




