#u19209-5
{
	font-size: 18px;
	font-style: italic;
	line-height: 18px;
	text-transform: none;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	letter-spacing: 0px;
}

#u17157-73
{
	text-indent: -5px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
}

#u17157
{
	padding-left: 5px;
}

#u17157-3
{
	padding-left: 5px;
	font-style: italic;
}

#u17157-7
{
	padding-left: 5px;
}

#u17157-11
{
	padding-left: 5px;
}

#u17157-15
{
	padding-left: 5px;
}

#u17157-19
{
	padding-left: 5px;
}

#u17157-23
{
	padding-left: 5px;
}

#u17157-27
{
	padding-left: 5px;
}

#u17157-28
{
	padding-left: 5px;
}

#u17157-30
{
	padding-left: 5px;
	font-style: italic;
}

#u17157-34
{
	padding-left: 5px;
}

#u17157-38
{
	padding-left: 5px;
}

#u17157-42
{
	padding-left: 5px;
}

#u17157-43
{
	padding-left: 5px;
}

#u17157-45
{
	padding-left: 5px;
	font-style: italic;
}

#u17157-49
{
	padding-left: 5px;
	font-style: italic;
}

#u17157-46
{
	font-style: normal;
}

#u17157-53
{
	padding-left: 5px;
}

#u17157-57
{
	padding-left: 5px;
}

#u17157-61
{
	padding-left: 5px;
}

#u17157-65
{
	padding-left: 5px;
}

#u17157-66
{
	padding-left: 5px;
}

#u17157-67
{
	padding-left: 5px;
}

#u17157-71
{
	padding-left: 5px;
}

#u19629-4
{
	font-size: 12px;
	line-height: 12px;
	color: #7F7F7F;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: center;
}

#u17156,#u17160
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
}

#u17164,#u17158
{
	background-color: transparent;
}




