#u4651
{
	background-color: transparent;
}

#u114-65
{
	text-align: left;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u114-29,#u114-40
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u114-58,#u114-59,#u114-63
{
	font-weight: bold;
}

#u2439
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
}




