#u14302-5
{
	line-height: 18px;
	font-size: 18px;
	text-transform: none;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	letter-spacing: 0px;
	background-color: transparent;
}

#u114-85
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-indent: -5px;
	text-align: left;
	background-color: transparent;
}

#u114
{
	padding-left: 5px;
}

#u114-3
{
	padding-left: 5px;
	font-style: italic;
}

#u114-7
{
	padding-left: 5px;
	font-style: italic;
}

#u114-11
{
	padding-left: 5px;
}

#u114-15
{
	padding-left: 5px;
}

#u114-19
{
	padding-left: 5px;
}

#u114-23
{
	padding-left: 5px;
}

#u114-27
{
	padding-left: 5px;
}

#u114-31
{
	padding-left: 5px;
}

#u114-32
{
	padding-left: 5px;
}

#u114-34
{
	padding-left: 5px;
	font-style: italic;
}

#u114-38
{
	padding-left: 5px;
}

#u114-42
{
	padding-left: 5px;
}

#u114-46
{
	padding-left: 5px;
}

#u114-50
{
	padding-left: 5px;
}

#u114-51
{
	padding-left: 5px;
}

#u114-53
{
	padding-left: 5px;
	font-style: italic;
}

#u114-57
{
	padding-left: 5px;
	font-style: italic;
}

#u114-61
{
	padding-left: 5px;
	font-style: italic;
}

#u114-4,#u114-54,#u114-58
{
	font-style: normal;
}

#u114-65
{
	padding-left: 5px;
}

#u114-69
{
	padding-left: 5px;
}

#u114-73
{
	padding-left: 5px;
}

#u114-77
{
	padding-left: 5px;
}

#u114-78
{
	padding-left: 5px;
}

#u114-79
{
	padding-left: 5px;
}

#u114-83
{
	padding-left: 5px;
}

#u19225-4
{
	line-height: 14px;
	color: #7F7F7F;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: transparent;
}

#u14103,#u2439
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u16340,#u14502,#u14506
{
	background-color: transparent;
}




