#u16699-6
{
	line-height: 18px;
	letter-spacing: 0px;
	background-color: transparent;
	font-size: 18px;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-transform: none;
}

#u16703-61
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-indent: -5px;
	background-color: transparent;
	text-align: left;
}

#u16703
{
	padding-left: 5px;
}

#u16703-3
{
	padding-left: 5px;
}

#u16703-7
{
	padding-left: 5px;
}

#u16703-11
{
	padding-left: 5px;
}

#u16703-15
{
	padding-left: 5px;
}

#u16703-19
{
	padding-left: 5px;
}

#u16703-23
{
	padding-left: 5px;
}

#u16703-24
{
	padding-left: 5px;
}

#u16703-26
{
	padding-left: 5px;
}

#u16703-30
{
	padding-left: 5px;
}

#u16703-34
{
	padding-left: 5px;
}

#u16703-35
{
	padding-left: 5px;
}

#u16703-37
{
	padding-left: 5px;
}

#u16703-25,#u16703-36
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u16703-41
{
	padding-left: 5px;
}

#u16703-45
{
	padding-left: 5px;
}

#u16703-49
{
	padding-left: 5px;
}

#u16703-53
{
	padding-left: 5px;
}

#u16703-54
{
	padding-left: 5px;
}

#u16703-55
{
	padding-left: 5px;
}

#u16703-59
{
	padding-left: 5px;
}

#u16700,#u16698
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16704,#u16701
{
	background-color: transparent;
}




