#u14302-4
{
	line-height: 18px;
	letter-spacing: 0px;
	background-color: transparent;
	font-size: 18px;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-transform: none;
}

#u114-65
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-indent: -5px;
	background-color: transparent;
	text-align: left;
}

#u114
{
	padding-left: 5px;
}

#u114-3
{
	padding-left: 5px;
}

#u114-7
{
	padding-left: 5px;
}

#u114-11
{
	padding-left: 5px;
}

#u114-15
{
	padding-left: 5px;
}

#u114-19
{
	padding-left: 5px;
}

#u114-23
{
	padding-left: 5px;
}

#u114-27
{
	padding-left: 5px;
}

#u114-28
{
	padding-left: 5px;
}

#u114-30
{
	padding-left: 5px;
}

#u114-34
{
	padding-left: 5px;
}

#u114-38
{
	padding-left: 5px;
}

#u114-39
{
	padding-left: 5px;
}

#u114-41
{
	padding-left: 5px;
}

#u114-29,#u114-40
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u114-45
{
	padding-left: 5px;
}

#u114-49
{
	padding-left: 5px;
}

#u114-53
{
	padding-left: 5px;
}

#u114-57
{
	padding-left: 5px;
}

#u114-58
{
	padding-left: 5px;
}

#u114-59
{
	padding-left: 5px;
}

#u114-63
{
	padding-left: 5px;
}

#u2439,#u14103
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16340,#u14502,#u14506
{
	background-color: transparent;
}




