#u19209-5
{
	text-transform: none;
	background-color: transparent;
	letter-spacing: 0px;
	font-size: 18px;
	font-style: italic;
	line-height: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u17157-89
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	background-color: transparent;
	text-indent: -5px;
}

#u17157
{
	padding-left: 5px;
}

#u17157-3
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-7
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-11
{
	padding-left: 5px;
}

#u17157-15
{
	padding-left: 5px;
}

#u17157-19
{
	padding-left: 5px;
}

#u17157-23
{
	padding-left: 5px;
}

#u17157-27
{
	padding-left: 5px;
}

#u17157-31
{
	padding-left: 5px;
}

#u17157-32
{
	padding-left: 5px;
}

#u17157-34
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-38
{
	padding-left: 5px;
}

#u17157-42
{
	padding-left: 5px;
}

#u17157-46
{
	padding-left: 5px;
}

#u17157-50
{
	padding-left: 5px;
}

#u17157-51
{
	padding-left: 5px;
}

#u17157-53
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-57
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-61
{
	font-style: italic;
	padding-left: 5px;
}

#u17157-4,#u17157-54,#u17157-58
{
	font-style: normal;
}

#u17157-65
{
	padding-left: 5px;
}

#u17157-69
{
	padding-left: 5px;
}

#u17157-73
{
	padding-left: 5px;
}

#u17157-77
{
	padding-left: 5px;
}

#u17157-81
{
	padding-left: 5px;
}

#u17157-82
{
	padding-left: 5px;
}

#u17157-83
{
	padding-left: 5px;
}

#u17157-87
{
	padding-left: 5px;
}

#u19629-4
{
	color: #7F7F7F;
	text-align: center;
	background-color: transparent;
	line-height: 12px;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u17156,#u17160
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u17164,#u17158
{
	background-color: transparent;
}




