	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: 8px;
	}

	#u114-89
	{
		min-height: 358px;
	}

	#slideshowu12605
	{
		height: 751px;
	}

	#u12611_img
	{
		padding: 10px 14px 18px 15px;
	}

	#u12610,#u12611,#u12763,#u12805,#u12847,#u12889
	{
		width: 1053px;
		height: 711px;
	}

	#u12763_img,#u12805_img,#u12847_img,#u12889_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u12606
	{
		width: 985px;
		top: 711px;
	}

	#u12607-4,#u12787-4,#u12829-4,#u12871-4,#u12913-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u12612-4
	{
		top: 711px;
		left: 985px;
	}

	#u12617-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u12618-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


