	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#slideshowu12066
	{
		height: 806px;
	}

	#u12071,#u12072,#u12210,#u12252
	{
		width: 1053px;
		height: 711px;
	}

	#u12072_img,#u12210_img,#u12252_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u12067
	{
		width: 985px;
		top: 711px;
	}

	#u12068-4,#u12234-4,#u12276-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u12073-4
	{
		top: 711px;
		left: 985px;
	}

	#u12078-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u12079-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	body
	{
		padding-top: 20px;
	}


