	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-72
	{
		margin-top: 8px;
	}

	#u114-72
	{
		min-height: 358px;
	}

	#slideshowu6061
	{
		height: 771px;
	}

	#u6078,#u6081,#u7818,#u7860,#u7902
	{
		width: 1053px;
		height: 711px;
	}

	#u6081_img,#u7818_img,#u7860_img,#u7902_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u6064
	{
		width: 985px;
		top: 711px;
	}

	#u6065-6,#u7842-6,#u7884-6,#u7926-6
	{
		width: 965px;
		min-height: 40px;
	}

	#u6062-4
	{
		top: 711px;
		left: 985px;
	}

	#u6068-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u6086-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


