	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-85
	{
		margin-top: 8px;
	}

	#u114-85
	{
		min-height: 358px;
	}

	#slideshowu20134
	{
		height: 806px;
	}

	#u21102_img,#u21270_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u20146,#u20147,#u20892,#u20934,#u20976,#u21018,#u21060,#u21102,#u21144,#u21186,#u21228,#u21270,#u21312,#u21354,#u21396,#u21438,#u21480,#u21522
	{
		width: 1053px;
		height: 711px;
	}

	#u20147_img,#u20892_img,#u20934_img,#u20976_img,#u21018_img,#u21060_img,#u21144_img,#u21186_img,#u21228_img,#u21312_img,#u21354_img,#u21396_img,#u21438_img,#u21480_img,#u21522_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u20135
	{
		width: 985px;
		top: 711px;
	}

	#u20136-4,#u20916-4,#u20958-4,#u21000-4,#u21042-4,#u21084-4,#u21126-4,#u21168-4,#u21210-4,#u21252-4,#u21294-4,#u21336-4,#u21378-4,#u21420-4,#u21462-4,#u21504-4,#u21546-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u20141-4
	{
		top: 711px;
		left: 985px;
	}

	#u20137-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u20145-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


