	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
	}

	#u114-55
	{
		min-height: 324px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 34px;
	}

	#u2439
	{
		margin-top: 446px;
		left: 2.01%;
	}

	#slideshowu9481
	{
		height: 771px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 1053px;
		height: 711px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u9519
	{
		width: 985px;
		top: 711px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 965px;
		min-height: 40px;
	}

	#u9500-4
	{
		top: 711px;
		left: 985px;
	}

	#u9517-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u9516-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}


