	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-4
	{
		margin-top: 72px;
	}

	#u14302-4
	{
		width: 396px;
	}

	#pu14103
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 358px;
	}

	#u114-65
	{
		min-height: 358px;
		margin-right: -10000px;
	}

	#u2439
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#slideshowu5771
	{
		height: 751px;
	}

	#u5778,#u7180,#u7608,#u7650,#u7692,#u7734
	{
		width: 1053px;
		height: 711px;
	}

	#u7180_img,#u7608_img,#u7650_img,#u7692_img,#u7734_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u5774
	{
		width: 985px;
		top: 711px;
	}

	#u7206-4,#u7632-4,#u7674-4,#u7716-4,#u7758-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u5792-4
	{
		top: 711px;
		left: 985px;
	}

	#u5772-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u5793-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


