	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#u14103
	{
		margin-top: 20px;
		width: 9.89%;
		left: 12.79%;
	}

	#slideshowu6061
	{
		height: 806px;
	}

	#u6078,#u6081,#u7818,#u7860,#u7902
	{
		width: 1053px;
		height: 711px;
	}

	#u6081_img,#u7818_img,#u7860_img,#u7902_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u6064
	{
		width: 985px;
		top: 711px;
	}

	#u6065-6,#u7842-6,#u7884-6,#u7926-6
	{
		width: 965px;
		min-height: 75px;
	}

	#u6062-4
	{
		top: 711px;
		left: 985px;
	}

	#u6068-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u6086-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	body
	{
		padding-top: 20px;
	}


