	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
	}

	#u114-55
	{
		min-height: 324px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 34px;
	}

	#u2439
	{
		margin-top: 446px;
		left: 2.01%;
	}

	#slideshowu8781
	{
		height: 851px;
	}

	#u8784,#u13634,#u13827,#u13869,#u13911,#u13953,#u13995,#u14037
	{
		width: 1053px;
		height: 711px;
	}

	#u13634_img,#u13827_img,#u13869_img,#u13911_img,#u13953_img,#u13995_img,#u14037_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u8795
	{
		width: 985px;
		top: 711px;
	}

	#u13658-8,#u13851-8,#u13893-8,#u13935-8,#u13977-8,#u14019-8,#u14061-8
	{
		width: 965px;
		min-height: 120px;
	}

	#u8782-4
	{
		top: 711px;
		left: 985px;
	}

	#u8815-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8816-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}


