	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 626px;
		padding-bottom: 194px;
		max-width: 1345px;
	}

	#pu19209-5
	{
		margin-top: 72px;
	}

	#u19209-5
	{
		width: 396px;
		min-height: 35px;
	}

	#u17157-89
	{
		min-height: 358px;
		margin-top: 8px;
	}

	#u19629-4
	{
		width: 1055px;
		bottom: 24px;
		margin-left: -445px;
	}

	#u17156
	{
		left: 435px;
	}

	#u17160
	{
		margin-top: 25px;
		left: 32.87%;
	}

	#u15689-20
	{
		min-height: 375px;
		margin-top: 116px;
		left: 545px;
		width: 32.35%;
	}


