	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 541px;
		padding-bottom: 279px;
		max-width: 1345px;
	}

	#pu19209-6
	{
		margin-right: -10000px;
		margin-top: 72px;
		margin-left: 20px;
	}

	#u19209-6
	{
		width: 396px;
		min-height: 35px;
	}

	#u17157-72
	{
		min-height: 358px;
		margin-top: 8px;
	}

	#u17156
	{
		margin-top: 20px;
		left: 435px;
	}

	#u17160
	{
		margin-top: 25px;
		left: 32.87%;
	}

	#u15689-19
	{
		margin-top: 116px;
		left: 455px;
		width: 32.35%;
	}


