	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-69
	{
		min-height: 404px;
	}

	#slideshowu5771
	{
		height: 806px;
	}

	#u5778,#u7180,#u7608,#u7650,#u7692,#u7734
	{
		width: 1053px;
		height: 711px;
	}

	#u7180_img,#u7608_img,#u7650_img,#u7692_img,#u7734_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u5774
	{
		width: 985px;
		top: 711px;
	}

	#u7206-4,#u7632-4,#u7674-4,#u7716-4,#u7758-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u5792-4
	{
		top: 711px;
		left: 985px;
	}

	#u5772-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u5793-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}


