	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-72
	{
		margin-top: 8px;
	}

	#u114-72
	{
		min-height: 358px;
	}

	#slideshowu16825
	{
		height: 806px;
	}

	#u16831,#u16832,#u16971,#u17013
	{
		width: 1053px;
		height: 711px;
	}

	#u16832_img,#u16971_img,#u17013_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u16833
	{
		width: 985px;
		top: 711px;
	}

	#u16834-4,#u16995-4,#u17037-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u16826-4
	{
		top: 711px;
		left: 985px;
	}

	#u16835-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u16837-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


