	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-81
	{
		margin-top: 8px;
	}

	#u114-81
	{
		min-height: 358px;
	}

	#slideshowu9481
	{
		height: 771px;
	}

	#u9484,#u9497,#u9891,#u9933,#u9975,#u10017,#u10059,#u10101
	{
		width: 1053px;
		height: 711px;
	}

	#u9497_img,#u9891_img,#u9933_img,#u9975_img,#u10017_img,#u10059_img,#u10101_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u9519
	{
		width: 985px;
		top: 711px;
	}

	#u9525-4,#u9915-4,#u9957-4,#u9999-4,#u10041-4,#u10083-4,#u10125-4
	{
		width: 965px;
		min-height: 40px;
	}

	#u9500-4
	{
		top: 711px;
		left: 985px;
	}

	#u9517-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u9516-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


