	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu17163-4
	{
		margin-top: 72px;
	}

	#u17163-4
	{
		width: 396px;
	}

	#pu17156
	{
		margin-top: 9px;
	}

	#u17156
	{
		margin-top: 358px;
	}

	#u17157-65
	{
		min-height: 358px;
	}

	#u17160
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#slideshowu11548
	{
		height: 751px;
	}

	#u11549,#u11550
	{
		width: 1053px;
		height: 711px;
	}

	#u11550_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u11559
	{
		width: 985px;
		top: 711px;
	}

	#u11562-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u11556-4
	{
		top: 711px;
		left: 985px;
	}

	#u11563-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u11566-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}


