	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		padding-bottom: 0px;
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: 8px;
	}

	#u114-73
	{
		min-height: 358px;
	}

	#slideshowu8237
	{
		height: 751px;
	}

	#u8240,#u8247,#u8547,#u8589
	{
		width: 1053px;
		height: 711px;
	}

	#u8247_img,#u8547_img,#u8589_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u8251
	{
		width: 985px;
		top: 711px;
	}

	#u8254-4,#u8571-4,#u8613-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u8238-4
	{
		top: 711px;
		left: 985px;
	}

	#u8271-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u8272-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


