	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-81
	{
		margin-top: 8px;
	}

	#u114-81
	{
		min-height: 358px;
	}

	#slideshowu17200
	{
		height: 806px;
	}

	#u17207,#u17208,#u17997,#u18039,#u18081,#u18123,#u18165,#u18207,#u18249,#u18291,#u18333,#u18375,#u18417
	{
		width: 1053px;
		height: 711px;
	}

	#u17208_img,#u17997_img,#u18039_img,#u18081_img,#u18123_img,#u18165_img,#u18207_img,#u18249_img,#u18291_img,#u18333_img,#u18375_img,#u18417_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u17209
	{
		width: 985px;
		top: 711px;
	}

	#u17210-4,#u18021-4,#u18063-4,#u18105-4,#u18147-4,#u18189-4,#u18231-4,#u18273-4,#u18315-4,#u18357-4,#u18399-4,#u18441-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u17204-4
	{
		top: 711px;
		left: 985px;
	}

	#u17213-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u17201-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


