	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 554px;
		padding-bottom: 266px;
		max-width: 1345px;
	}

	#pu17163-4
	{
		margin-top: 72px;
	}

	#u17163-4
	{
		width: 396px;
	}

	#pu17156
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u17156
	{
		margin-top: 358px;
	}

	#u17157-65
	{
		min-height: 358px;
		margin-right: -10000px;
	}

	#u17160
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#u15689-17
	{
		margin-top: 116px;
		left: 455px;
		width: 32.35%;
	}


