	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: 8px;
	}

	#u114-73
	{
		min-height: 358px;
	}

	#slideshowu17653
	{
		height: 806px;
	}

	#u17658,#u17659,#u18557,#u18599,#u18641,#u18683,#u18725,#u18767,#u18809,#u18851,#u18893
	{
		width: 1053px;
		height: 711px;
	}

	#u17659_img,#u18557_img,#u18599_img,#u18641_img,#u18683_img,#u18725_img,#u18767_img,#u18809_img,#u18851_img,#u18893_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u17655
	{
		width: 985px;
		top: 711px;
	}

	#u17656-6,#u18581-6,#u18623-6,#u18665-6,#u18707-6,#u18749-6,#u18791-6,#u18833-6,#u18875-6,#u18917-6
	{
		width: 965px;
		min-height: 75px;
	}

	#u17665-4
	{
		top: 711px;
		left: 985px;
	}

	#u17657-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u17666-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


