	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: 8px;
	}

	#u114-89
	{
		min-height: 358px;
	}

	#slideshowu11179
	{
		height: 751px;
	}

	#u11180,#u11181,#u11422,#u11464,#u11506
	{
		width: 1053px;
		height: 711px;
	}

	#u11181_img,#u11422_img,#u11464_img,#u11506_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u11190
	{
		width: 985px;
		top: 711px;
	}

	#u11193-4,#u11446-4,#u11488-4,#u11530-4
	{
		width: 965px;
		min-height: 20px;
	}

	#u11187-4
	{
		top: 711px;
		left: 985px;
	}

	#u11194-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u11197-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


