	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#u14103
	{
		margin-top: 20px;
		width: 9.89%;
		left: 12.79%;
	}

	#slideshowu12605
	{
		height: 806px;
	}

	#u12610,#u12611,#u12763,#u12805,#u12847,#u12889
	{
		width: 1053px;
		height: 711px;
	}

	#u12611_img,#u12763_img,#u12805_img,#u12847_img,#u12889_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u12606
	{
		width: 985px;
		top: 711px;
	}

	#u12607-4,#u12787-4,#u12829-4,#u12871-4,#u12913-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u12612-4
	{
		top: 711px;
		left: 985px;
	}

	#u12617-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u12618-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	body
	{
		padding-top: 20px;
	}


