	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
	}

	#pu14103
	{
		width: 0.01px;
		margin-top: 9px;
	}

	#u14103
	{
		margin-top: 358px;
	}

	#u114-65
	{
		min-height: 358px;
		margin-right: -10000px;
	}

	#u2439
	{
		margin-top: 479px;
		left: 2.01%;
	}

	#slideshowu12066
	{
		height: 751px;
	}

	#u12071,#u12072,#u12210,#u12252
	{
		width: 1053px;
		height: 711px;
	}

	#u12072_img,#u12210_img,#u12252_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u12067
	{
		width: 985px;
		top: 711px;
	}

	#u12068-4,#u12234-4,#u12276-4
	{
		width: 965px;
	}

	#u12073-4
	{
		top: 711px;
		left: 985px;
	}

	#u12078-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u12079-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


