	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 903px;
		padding-bottom: 19px;
		max-width: 1345px;
	}

	#pu2439
	{
		margin-right: -10000px;
		margin-top: 20px;
		width: 8.41%;
		margin-left: 1.49%;
	}

	#u114-67
	{
		min-height: 537px;
		margin-top: 116px;
	}

	#u14103
	{
		margin-top: 20px;
		width: 9.89%;
		left: 12.79%;
	}

	#slideshowu11838
	{
		height: 806px;
	}

	#u11843,#u11844,#u11982,#u12024
	{
		width: 1053px;
		height: 711px;
	}

	#u11844_img,#u11982_img,#u12024_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u11839
	{
		width: 985px;
		top: 711px;
	}

	#u11840-4,#u12006-4,#u12048-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u11845-4
	{
		top: 711px;
		left: 985px;
	}

	#u11850-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u11851-4
	{
		width: 506px;
		min-height: 691px;
		left: 527px;
	}

	body
	{
		padding-top: 20px;
	}


