	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: 8px;
	}

	#u114-89
	{
		min-height: 358px;
	}

	#slideshowu17653
	{
		height: 806px;
	}

	#u17658,#u18893,#u21661,#u21703,#u21745,#u21787,#u21829,#u21871,#u21913,#u21955,#u21997,#u22039,#u22081
	{
		width: 1053px;
		height: 711px;
	}

	#u18893_img,#u21661_img,#u21703_img,#u21745_img,#u21787_img,#u21829_img,#u21871_img,#u21913_img,#u21955_img,#u21997_img,#u22039_img,#u22081_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u17655
	{
		width: 985px;
		top: 711px;
	}

	#u18917-6,#u21685-6,#u21727-6,#u21769-6,#u21811-6,#u21853-6,#u21895-6,#u21937-6,#u21979-6,#u22021-6,#u22063-6,#u22105-6
	{
		width: 965px;
		min-height: 75px;
	}

	#u17665-4
	{
		top: 711px;
		left: 985px;
	}

	#u17657-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u17666-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}


