.version.oslo_runway_aw17 /* version checker */
{
	color: #0000E3;
	background-color: #23828E;
}

#page
{
	border-width: 0px;
	width: 100%;
	z-index: 1;
	background-color: transparent;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	margin-right: auto;
}

#pu14302-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-right: -10000px;
}

#u14302-5
{
	z-index: 93;
	position: relative;
}

#pu114-89
{
	width: 0.01px;
}

#u114-89
{
	width: 187px;
	z-index: 3;
	margin-right: -10000px;
	position: relative;
}

#slideshowu20134
{
	left: 207px;
	z-index: 100;
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
}

#u20146popup
{
	z-index: 101;
}

#u20147
{
	border-width: 0px;
	z-index: 102;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20892
{
	border-width: 0px;
	z-index: 104;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20934
{
	border-width: 0px;
	z-index: 106;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20976
{
	border-width: 0px;
	z-index: 108;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21018
{
	border-width: 0px;
	z-index: 110;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21060
{
	border-width: 0px;
	z-index: 112;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21102
{
	border-width: 0px;
	z-index: 114;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21144
{
	border-width: 0px;
	z-index: 116;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21186
{
	border-width: 0px;
	z-index: 118;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21228
{
	border-width: 0px;
	z-index: 120;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21270
{
	border-width: 0px;
	z-index: 122;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21312
{
	border-width: 0px;
	z-index: 124;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21354
{
	border-width: 0px;
	z-index: 126;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21396
{
	border-width: 0px;
	z-index: 128;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21438
{
	border-width: 0px;
	z-index: 130;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21480
{
	border-width: 0px;
	z-index: 132;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u21522
{
	border-width: 0px;
	z-index: 134;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	border-color: transparent;
}

#u20146,#u20135
{
	background-color: transparent;
	position: absolute;
}

#u20135popup
{
	z-index: 136;
}

#u20136-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 137;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20916-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 141;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20958-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 145;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21000-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 149;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21042-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 153;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21084-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 157;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21126-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 161;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21168-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 165;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21210-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 169;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21252-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 173;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21294-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 177;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21336-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 181;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21378-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 185;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21420-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 189;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21462-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 193;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21504-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 197;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u21546-4
{
	border-width: 0px;
	color: #999999;
	text-align: left;
	z-index: 201;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px;
	line-height: 20px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20141-4
{
	border-width: 0px;
	color: #999999;
	text-align: center;
	background-color: #FFFFFF;
	position: absolute;
	min-height: 20px;
	padding: 10px;
	line-height: 20px;
	width: 48px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u20141-4popup
{
	z-index: 205;
}

#u20137-4
{
	border-width: 0px;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u20137-4popup
{
	z-index: 209;
}

#u20137
{
	color: #999999;
}

#u20145-4
{
	border-width: 0px;
	color: #999999;
	text-align: center;
	background-color: transparent;
	position: absolute;
	filter: alpha(opacity=0);
	padding: 10px;
	line-height: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u20145-4popup
{
	z-index: 213;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u19225-4
{
	bottom: 22px;
	left: 50%;
	z-index: 217;
	position: fixed;
}

#u14103
{
	z-index: 2;
	margin-right: -10000px;
	position: relative;
	min-height: 80px;
	width: 99px;
	margin-top: 20px;
}

#u2439
{
	z-index: 92;
	margin-right: -10000px;
	position: relative;
	min-height: 35px;
	width: 35px;
}

#u16340
{
	z-index: 98;
	margin-right: -10000px;
	position: relative;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	right: 55px;
	z-index: 221;
	position: fixed;
}

#u14502_img
{
	margin-left: 1px;
	margin-right: -1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	right: 20px;
	z-index: 223;
	position: fixed;
}

#u14506_img
{
	margin-left: -4px;
	margin-bottom: 1px;
	margin-right: 5px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-5
	{
		margin-top: 72px;
	}

	#u14302-5
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: 8px;
	}

	#u114-89
	{
		min-height: 358px;
	}

	#slideshowu20134
	{
		height: 806px;
	}

	#u21102_img,#u21270_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u20146,#u20147,#u20892,#u20934,#u20976,#u21018,#u21060,#u21102,#u21144,#u21186,#u21228,#u21270,#u21312,#u21354,#u21396,#u21438,#u21480,#u21522
	{
		width: 1053px;
		height: 711px;
	}

	#u20147_img,#u20892_img,#u20934_img,#u20976_img,#u21018_img,#u21060_img,#u21144_img,#u21186_img,#u21228_img,#u21312_img,#u21354_img,#u21396_img,#u21438_img,#u21480_img,#u21522_img
	{
		padding: 14px 14px 15px 15px;
	}

	#u20135
	{
		width: 985px;
		top: 711px;
	}

	#u20136-4,#u20916-4,#u20958-4,#u21000-4,#u21042-4,#u21084-4,#u21126-4,#u21168-4,#u21210-4,#u21252-4,#u21294-4,#u21336-4,#u21378-4,#u21420-4,#u21462-4,#u21504-4,#u21546-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u20141-4
	{
		top: 711px;
		left: 985px;
	}

	#u20137-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u20145-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u19225-4
	{
		width: 1055px;
		min-height: 11px;
		margin-left: -445px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-5
	{
		margin-top: 65px;
	}

	#u14302-5
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-89
	{
		margin-top: -1px;
	}

	#u114-89
	{
		min-height: 401px;
	}

	#slideshowu20134
	{
		height: 650px;
		margin-top: 16px;
	}

	#u20146,#u20147,#u20892,#u20934,#u20976,#u21018,#u21060,#u21102,#u21144,#u21186,#u21228,#u21270,#u21312,#u21354,#u21396,#u21438,#u21480,#u21522
	{
		width: 772px;
		height: 521px;
	}

	#u20147_img,#u20892_img,#u20934_img,#u20976_img,#u21018_img,#u21060_img,#u21144_img,#u21186_img,#u21228_img,#u21312_img,#u21354_img,#u21396_img,#u21438_img,#u21480_img,#u21522_img
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	#u20135
	{
		width: 704px;
		top: 521px;
	}

	#u20136-4,#u20916-4,#u20958-4,#u21000-4,#u21042-4,#u21084-4,#u21126-4,#u21168-4,#u21210-4,#u21252-4,#u21294-4,#u21336-4,#u21378-4,#u21420-4,#u21462-4,#u21504-4,#u21546-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u20141-4
	{
		top: 521px;
		left: 704px;
	}

	#u20137-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u20145-4
	{
		width: 414px;
		min-height: 501px;
		left: 386px;
	}

	#u19225-4
	{
		width: 773px;
		min-height: 11px;
		margin-left: -420px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-5
	{
		margin-top: 50px;
	}

	#u14302-5
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-89
	{
		min-height: 403px;
	}

	#slideshowu20134
	{
		height: 751px;
		margin-top: 16px;
	}

	#u20146,#u20147,#u20892,#u20934,#u20976,#u21018,#u21060,#u21102,#u21144,#u21186,#u21228,#u21270,#u21312,#u21354,#u21396,#u21438,#u21480,#u21522
	{
		width: 573px;
		height: 387px;
	}

	#u20147_img,#u20892_img,#u20934_img,#u20976_img,#u21018_img,#u21060_img,#u21144_img,#u21186_img,#u21228_img,#u21312_img,#u21354_img,#u21396_img,#u21438_img,#u21480_img,#u21522_img
	{
		margin-left: -4px;
		margin-right: -3px;
	}

	#u20135
	{
		width: 450px;
		top: 387px;
	}

	#u20136-4,#u20916-4,#u20958-4,#u21000-4,#u21042-4,#u21084-4,#u21126-4,#u21168-4,#u21210-4,#u21252-4,#u21294-4,#u21336-4,#u21378-4,#u21420-4,#u21462-4,#u21504-4,#u21546-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u20141-4
	{
		top: 387px;
		left: 505px;
	}

	#u20137-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u20145-4
	{
		width: 306px;
		min-height: 367px;
		left: 286px;
	}

	#u19225-4
	{
		width: 573px;
		min-height: 13px;
		margin-left: -273px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

