.version.wild_things /* version checker */
{
	color: #0000E8;
	background-color: #FA06A9;
}

#page
{
	background-image: none;
	background-color: transparent;
	margin-right: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	margin-left: auto;
}

#pu14302-6
{
	margin-right: -10000px;
	width: 0.01px;
	margin-left: 20px;
}

#u14302-6
{
	z-index: 77;
	position: relative;
}

#pu114-73
{
	width: 0.01px;
}

#u114-73
{
	margin-right: -10000px;
	width: 187px;
	z-index: 3;
	position: relative;
}

#slideshowu16825
{
	left: 207px;
	position: relative;
	margin-right: -10000px;
	width: 0.01px;
	z-index: 89;
}

#u16831popup
{
	z-index: 90;
}

#u16832
{
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	border-color: transparent;
	z-index: 91;
	border-width: 0px;
}

#u16971
{
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	border-color: transparent;
	z-index: 93;
	border-width: 0px;
}

#u17013
{
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	border-color: transparent;
	z-index: 95;
	border-width: 0px;
}

#u16831,#u16833
{
	background-color: transparent;
	position: absolute;
}

#u16833popup
{
	z-index: 97;
}

#u16834-4
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	line-height: 20px;
	border-color: transparent;
	border-width: 0px;
	padding: 10px;
	position: relative;
	text-align: left;
	z-index: 98;
}

#u16995-4
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	line-height: 20px;
	border-color: transparent;
	border-width: 0px;
	padding: 10px;
	position: relative;
	text-align: left;
	z-index: 102;
}

#u17037-4
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	line-height: 20px;
	border-color: transparent;
	border-width: 0px;
	padding: 10px;
	position: relative;
	text-align: left;
	z-index: 106;
}

#u16826-4
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #FFFFFF;
	line-height: 20px;
	border-color: transparent;
	border-width: 0px;
	padding: 10px;
	min-height: 20px;
	position: absolute;
	text-align: center;
	width: 48px;
}

#u16826-4popup
{
	z-index: 110;
}

#u16835-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-color: transparent;
	position: absolute;
	background-color: transparent;
	line-height: 20px;
	filter: alpha(opacity=0);
	border-width: 0px;
	padding: 10px;
	opacity: 0;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#u16835-4popup
{
	z-index: 114;
}

#u16826,#u16835
{
	color: #999999;
}

#u16837-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #999999;
	position: absolute;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	filter: alpha(opacity=0);
	border-width: 0px;
	padding: 10px;
	opacity: 0;
	border-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#u16837-4popup
{
	z-index: 118;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u14103
{
	margin-top: 20px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	width: 99px;
	z-index: 2;
}

#u2439
{
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	width: 35px;
	z-index: 76;
}

#u16340
{
	position: relative;
	margin-right: -10000px;
	z-index: 87;
}

#u14502
{
	bottom: 20px;
	width: 25px;
	z-index: 83;
	right: 55px;
	position: fixed;
}

#u14502_img
{
	margin-right: -1px;
	margin-left: 1px;
}

#u14506
{
	bottom: 20px;
	width: 25px;
	z-index: 85;
	right: 20px;
	position: fixed;
}

#u14506_img
{
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: -4px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1295px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1345px;
	}

	#pu14302-6
	{
		margin-top: 72px;
	}

	#u14302-6
	{
		width: 396px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: 8px;
	}

	#u114-73
	{
		min-height: 358px;
	}

	#slideshowu16825
	{
		height: 806px;
	}

	#u16831,#u16832,#u16971,#u17013
	{
		width: 1053px;
		height: 711px;
	}

	#u16832_img,#u16971_img,#u17013_img
	{
		padding: 10px 14px 10px 15px;
	}

	#u16833
	{
		width: 985px;
		top: 711px;
	}

	#u16834-4,#u16995-4,#u17037-4
	{
		width: 965px;
		min-height: 75px;
	}

	#u16826-4
	{
		top: 711px;
		left: 985px;
	}

	#u16835-4
	{
		width: 507px;
		min-height: 691px;
	}

	#u16837-4
	{
		width: 551px;
		min-height: 691px;
		left: 527px;
	}

	#u14103
	{
		left: 428px;
	}

	#u2439
	{
		margin-top: 25px;
		left: 32.35%;
	}

	#u16340
	{
		width: 103px;
		margin-top: 398px;
		left: 1239px;
	}

	#pu14502
	{
		width: 0.01px;
		padding-bottom: 25px;
		margin-right: -10000px;
		margin-top: 775px;
		margin-left: 1265px;
	}

}

@media (min-width: 1001px) and (max-width: 1294px)
{
	#muse_css_mq
	{
		background-color: #00050e;
	}

	#bp_1294.active
	{
		display: block;
	}

	#page
	{
		min-height: 766px;
		padding-bottom: 52px;
		max-width: 1294px;
	}

	#pu14302-6
	{
		margin-top: 65px;
	}

	#u14302-6
	{
		width: 381px;
		min-height: 35px;
	}

	#pu114-73
	{
		margin-top: -1px;
	}

	#u114-73
	{
		min-height: 401px;
	}

	#slideshowu16825
	{
		height: 650px;
		margin-top: 16px;
	}

	#u16831,#u16832,#u16971,#u17013
	{
		width: 772px;
		height: 521px;
	}

	#u16833
	{
		width: 704px;
		top: 521px;
	}

	#u16834-4,#u16995-4,#u17037-4
	{
		width: 684px;
		min-height: 109px;
	}

	#u16826-4
	{
		top: 521px;
		left: 704px;
	}

	#u16835-4
	{
		width: 366px;
		min-height: 501px;
	}

	#u16837-4
	{
		width: 366px;
		min-height: 501px;
		left: 386px;
	}

	#u14103
	{
		left: 418px;
	}

	#u2439
	{
		margin-top: 37px;
		left: 32.77%;
	}

	#u16340
	{
		width: 99px;
		margin-top: 305px;
		left: 972px;
	}

}

@media (max-width: 1000px)
{
	#muse_css_mq
	{
		background-color: #0003e8;
	}

	#bp_1000.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		padding-bottom: 20px;
		max-width: 1000px;
	}

	#pu14302-6
	{
		margin-top: 50px;
	}

	#u14302-6
	{
		width: 294px;
		min-height: 50px;
	}

	#u114-73
	{
		min-height: 403px;
	}

	#slideshowu16825
	{
		height: 751px;
		margin-top: 16px;
	}

	#u16831,#u16832,#u16971,#u17013
	{
		width: 573px;
		height: 387px;
	}

	#u16833
	{
		width: 450px;
		top: 387px;
	}

	#u16834-4,#u16995-4,#u17037-4
	{
		width: 430px;
		min-height: 344px;
	}

	#u16826-4
	{
		top: 387px;
		left: 505px;
	}

	#u16835-4
	{
		width: 267px;
		min-height: 367px;
	}

	#u16837-4
	{
		width: 267px;
		min-height: 367px;
		left: 286px;
	}

	#u14103
	{
		left: 337px;
	}

	#u2439
	{
		margin-top: 22px;
		left: 33.7%;
	}

	#u16340
	{
		width: 77px;
		margin-top: 256px;
		left: 780px;
	}

	body
	{
		min-width: 320px;
	}

}

