.version.index /* version checker */
{
	color: #0000E7;
	background-color: #D220EA;
}

#page
{
	z-index: 1;
	min-height: 499px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 71px;
	width: 100%;
	max-width: 380px;
}

#u4360
{
	z-index: 90;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	width: 26.32%;
}

.ie #u4360
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3079
{
	z-index: 88;
	width: 100px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu8695
{
	z-index: 2;
	width: 0.01px;
	height: 428px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u8702
{
	position: absolute;
	background-color: transparent;
}

#u8702popup
{
	z-index: 3;
}

#u8707
{
	z-index: 4;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10419
{
	z-index: 6;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10439
{
	z-index: 8;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10459
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10479
{
	z-index: 12;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10499
{
	z-index: 14;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10519
{
	z-index: 16;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10539
{
	z-index: 18;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10559
{
	z-index: 20;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10579
{
	z-index: 22;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10599
{
	z-index: 24;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10619
{
	z-index: 26;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10639
{
	z-index: 28;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10659
{
	z-index: 30;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10679
{
	z-index: 32;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10699
{
	z-index: 34;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10719
{
	z-index: 36;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10739
{
	z-index: 38;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10759
{
	z-index: 40;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10779
{
	z-index: 42;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10799
{
	z-index: 44;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10819
{
	z-index: 46;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10839
{
	z-index: 48;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10859
{
	z-index: 50;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10879
{
	z-index: 52;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10899
{
	z-index: 54;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10919
{
	z-index: 56;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10939
{
	z-index: 58;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10959
{
	z-index: 60;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10979
{
	z-index: 62;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u10999
{
	z-index: 64;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11019
{
	z-index: 66;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11039
{
	z-index: 68;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11059
{
	z-index: 70;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11079
{
	z-index: 72;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11099
{
	z-index: 74;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11119
{
	z-index: 76;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u11139
{
	z-index: 78;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u8701-4
{
	width: 160px;
	min-height: 398px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding: 15px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8701-4popup
{
	z-index: 80;
}

#u8701
{
	color: #999999;
}

#u8717-4
{
	width: 160px;
	min-height: 398px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding: 15px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 50%;
}

#u8717-4popup
{
	z-index: 84;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


