.version.index /* version checker */
{
	color: #0000FF;
	background-color: #A925F5;
}

#page
{
	z-index: 1;
	min-height: 502px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 380px;
}

#slideshowu8695
{
	z-index: 2;
	width: 0.01px;
	height: 428px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 50%;
}

#u8702
{
	position: absolute;
	background-color: transparent;
}

#u8702popup
{
	z-index: 3;
}

#u11139
{
	z-index: 4;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14913
{
	z-index: 6;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14933
{
	z-index: 8;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14953
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14973
{
	z-index: 12;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14993
{
	z-index: 14;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15013
{
	z-index: 16;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15033
{
	z-index: 18;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15053
{
	z-index: 20;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15073
{
	z-index: 22;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15093
{
	z-index: 24;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15113
{
	z-index: 26;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15133
{
	z-index: 28;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15153
{
	z-index: 30;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15173
{
	z-index: 32;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15193
{
	z-index: 34;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15213
{
	z-index: 36;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15233
{
	z-index: 38;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15253
{
	z-index: 40;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15273
{
	z-index: 42;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15293
{
	z-index: 44;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15313
{
	z-index: 46;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15333
{
	z-index: 48;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15353
{
	z-index: 50;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15373
{
	z-index: 52;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15393
{
	z-index: 54;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15413
{
	z-index: 56;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15433
{
	z-index: 58;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15453
{
	z-index: 60;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15473
{
	z-index: 62;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15493
{
	z-index: 64;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15513
{
	z-index: 66;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15533
{
	z-index: 68;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15553
{
	z-index: 70;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15573
{
	z-index: 72;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15593
{
	z-index: 74;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u15613
{
	z-index: 76;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u8717-4
{
	width: 160px;
	min-height: 398px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding: 15px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8717-4popup
{
	z-index: 78;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu14619
{
	margin-right: -10000px;
	margin-top: 13px;
	width: 100%;
}

#u14619
{
	z-index: 82;
	height: 58px;
	background-color: #000000;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14619-bw
{
	z-index: 82;
	height: 58px;
}

#u14598
{
	z-index: 83;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 43.43%;
}

#u14598_img
{
	margin-left: -1px;
	margin-right: 1px;
}

#u14600
{
	z-index: 85;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69.74%;
}

#u14639
{
	z-index: 87;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 17.11%;
}

#u14639_img
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}




